{% extends "base.html" %}

{% block title %}
Cheese and Beer - Admin Console
{% endblock %}

{% block content %}

<div id="background-container">
    {% if messages %}
    {% for message in messages %}
    {% with message.level as level %}
    {% if level == 40 %}
    <div id="general-message" class="error-message">
    {% elif level == 30 %}
    <div id="general-message" class="warning-message">
    {% elif level == 25 %}
    <div id="general-message" class="success-message">
    {% else %}
    <div id="general-message" class="warning-message">
    {% endif %}
    {% endwith %}    
        {{ message }}
    </div>      
    {% endfor %}    
    {% endif %}
    <div id="form-large">
        <h2 class="bottom-border">Cheese and Beer</h2>
        <div id="admin-console">
            <div class="console-headline">
                <h3>Categories</h3>
            </div>
            <div>
                <a href="{% url 'add_cheese_category' %}">Add a new cheese category</a>
            </div>
            <div>
                <a href="{% url 'add_beer_category' %}">Add a new beer category</a>
            </div>
            <div class="bottom-border">
                <a href="{% url 'edit_categories' %}">Edit categories</a>
            </div>
            <div class="console-headline">
                <h3>Products</h3>
            </div>
            <div>
                <a href="{% url 'add_cheese' %}">Add a new cheese</a>
            </div>
            <div>
                <a href="{% url 'add_beer' %}">Add a new beer</a>
            </div>
            <div class="bottom-border">
                <a href="{% url 'edit_product' %}">Edit existing product</a>
            </div>
            <div class="console-headline">
                <h3>Customer Service</h3>
            </div>
            <div>
                <a href="{% url 'view_messages' %}">View submitted requests</a>
            </div>
            <div id="console-home-button-container">
                <a class="admin-page-button clickable-element" href="{% url 'home' %}">Back to Homepage</a>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}