{% extends "base.html" %}

{% block title %}
Cheese and Beer - Admin Console
{% endblock %}

{% block content %}

<div id="background-container">
    <div id="form-large">
        {% if messages %}
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        <div id="basket-message" class="error-message">
            <i class="fa-solid fa-exclamation red-text"></i>
        {% elif level == 30 %}
        <div id="basket-message" class="warning-message">
            <i class="fa-solid fa-minus red-text"></i>
        {% elif level == 25 %}
        <div id="basket-message" class="success-message">
            <i class="fa-solid fa-plus green-text"></i>
        {% else %}
        <div id="basket-message" class="warning-message">
            <i class="fa-solid fa-minus red-text"></i>
        {% endif %}
        {% endwith %}    
            {{ message }}
        </div>
        {% endfor %}    
        {% endif %}
        <h2 class="bottom-border">Product Administration</h2>
        <div id="admin-console">
            <div class="console-headline">
                <h3>Categories</h3>
            </div>
            <div>
                <a href="{% url 'add_cheese_category' %}">Add a new cheese category</a>
            </div>
            <div>
                <a href="{% url 'add_beer_category' %}">Add a new beer category</a>
            </div>
            <div class="bottom-border">
                <a href="{% url 'edit_categories' %}">Edit categories</a>
            </div>
            <div class="console-headline">
                <h3>Products</h3>
            </div>
            <div>
                <a href="{% url 'add_cheese' %}">Add a new cheese</a>
            </div>
            <div>
                <a href="{% url 'add_beer' %}">Add a new beer</a>
            </div>
            <div class="bottom-border">
                <a href="{% url 'edit_product' %}">Edit existing product</a>
            </div>
            <div>
                <a href="{% url 'home' %}"><button>Back to Homepage</button></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}