{% extends "base.html" %}

{% block title %}
Cheese and Beer - Admin Console
{% endblock %}

{% block content %}
<h1>Do Stuff Now</h1>
<h2>Categories</h2>
<p>
    <a href="{% url 'add_cheese_category' %}">Add a new cheese category</a>
</p>
<p>
    <a href="{% url 'add_beer_category' %}">Add a new beer category</a>
</p>
<p>
    <a href="{% url 'edit_categories' %}">Edit Categories</a>
</p>
<h2>Products</h2>
<p>
    <a href="{% url 'add_cheese' %}">Add a new cheese</a>
</p>
<p>
    <a href="{% url 'add_beer' %}">Add a new beer</a>
</p>
<p>
    <a href="">Edit existing product</a>
</p>
<h2>Administration</h2>
<p>
    <a href="">Customer Support</a>
</p>

<h2>
    <a href="{% url 'home' %}">Back to Homepage</a>
</h2>
{% endblock %}