{% extends "base.html" %}

{% block title %}
Cheese and Beer
{% endblock %}

{% block content %}
<div id="message-alert" class="delete-alert not-displayed">
    <div class="alert-header">
        <h4>Confirm Deletion</h4>
        <i class="fa-solid fa-xmark cancel-alert"></i>

    </div>
    <div class="alert-content">
        <strong>
            <p id="alert-name"></p>
        </strong>
            <p>Are you sure you want to delete this message? This action cannot be undone.</p>      
    </div>
    <div class="alert-footer">
        <a id="remove-message" href="">
            <span class="alert-buttons yes-button">Yes</span>
        </a>
        <span class="alert-buttons cancel-alert no-button">
            No
        </span>
    </div>
</div>
<div class="listing-container alert-disable">
    {% if messages %}
    {% for message in messages %}
    {% with message.level as level %}
    {% if level == 40 %}
    <div id="general-message" class="error-message alert-disable">
    {% elif level == 30 %}
    <div id="general-message" class="warning-message alert-disable">
    {% elif level == 25 %}
    <div id="general-message" class="success-message alert-disable">
    {% else %}
    <div id="general-message" class="warning-message alert-disable">
    {% endif %}
    {% endwith %}    
        {{ message }}
    </div>      
    {% endfor %}    
    {% endif %}
    <div id="listing-view">
        <div class="messages-specicifity">
            <div class="orders-container">
                <div class="title-section bottom-border">
                    <h2>Customer Messages</h2>
                    <p>Click <a class="sign-up-link" href="{% url 'admin_console' %}">here</a> to return to product administration</p>
                </div>            
                {% if user_messages %}
                <div class="orders-view">
                    <div class="container-div">
                        <div class="orders-order-info">
                            <h4>Message Info</th>
                        </div>
                        <div class="orders-shipped-address">
                            <h4>Message Details</h4>
                        </div>
                    </div>       
                    {% for contact in user_messages %}
                    <div class="container-div">
                        <div class="orders-order-info">
                            <p>Received: {{ contact.date | date:"d/m/Y"}}</p>
                            <p>Subject: {{ contact.subject }}</p>
                            <p>
                            <span class="remove-message orders-view-link clickable-element" id="delete-{{ contact.id }}"><i class="fas fa-trash dark-red-text clickable-element"></i> Delete</span>                            
                            <br>
                            {% if contact.order_number %}
                            <a class="orders-view-link" href="{% url 'order_from_messages' contact.order_number %}"><span class="orders-view-link"><i class="fa-solid fa-eye"></i> View</span></a>
                            {% endif %}
                            </p>
                        </div>
                        <div class="orders-shipped-address">
                            <p>From: {{ contact.email }}</p>
                            <br>
                            <p>{{ contact.message|linebreaksbr }}</p>
                        </div>
                    </div>  
                    {% endfor %}
                </div>       
                {% else %}
                <h3>There are no messages at present.</h3>
                {% endif %}            
            </div>
        </div>
    </div>
</div>

{% endblock %}

