{% extends "base.html" %}

{% block title %}
Cheese and Beer
{% endblock %}

{% block content %}
<div id="background-container">
    <div id="form-large">
        <h2>Contact Us</h2>
        <p>Click <a class="sign-up-link" href="{% url 'account_overview' %}">here</a> to return to your account page.</p>
        <form action="{% url 'contact_form' %}" method="POST" id="contact-form">
            {% csrf_token %}
            <div class="new-address-main">
                <div class="general-form">
                    <input type="hidden" name="origin" id="origin" value="addresses">
                    <div class="form-field-container">
                        <div class="form-label-container"><label for="id_email">email address<span class="red-text">*</span> </label></div>
                        <div><input id="id_email" type="text" name="email" maxlength="254" placeholder="email" class="contact-field" required value="{{ email }}"></div>
                    </div>
                    <div class="form-field-container">
                        <div class="form-label-container"><label for="id_order_number">Order Number: </label></div>
                        <div><input id="id_order_number" type="text" name="order_number" maxlength="32" placeholder="order_number (optional)" class="contact-field" value="{{ order_number }}"></div>
                    </div>
                    <div class="form-field-container">
                        <div class="form-label-container"><label for="id_subject">Subject:<span class="red-text">*</span> </label></div>
                        <div>
                            <select name="subject" class="contact-field" id="id_subject">
                                {% if order_number %}
                                <option value="general">general</option>                          
                                <option value="order" selected>order</option>
                                {% else %}
                                <option value="general" selected>general</option>                          
                                <option value="order">order</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="form-field-container">
                        <div class="form-label-container"><label for="id_message">Message:<span class="red-text">*</span> </label></div>
                        <div>{{ form.message }}</div>
                    </div>
                </div>
            </div>
            <div class="form-large-button">
                <button type="submit">Submit Message</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}