{% extends "base.html" %}

{% block title %}
Cheese and Beer
{% endblock %}

{% block content %}
<div id="background-container">
    {% if messages %}
    {% for message in messages %}
    {% with message.level as level %}
    {% if level == 40 %}
    <div id="general-message" class="error-message">
    {% elif level == 30 %}
    <div id="general-message" class="warning-message">
    {% elif level == 25 %}
    <div id="general-message" class="success-message">
    {% else %}
    <div id="general-message" class="warning-message">
    {% endif %}
    {% endwith %}    
        {{ message }}
    </div>
    {% endfor %}    
    {% endif %}
    <div id="form-large">
        <div class="orders-search">
            <h2>Find an Order</h2>
            <p>Please fill out the following details to review your order:</p>
            <form action="{% url 'found_order' %}" method="POST" id="address-form">
                {% csrf_token %}
                <table class="general-form">
                    <tr>
                        <td><label for="id_full_name">Order Number:<span class="red-text">*</span></label></td>
                        <td><input type="text" name="order-number" id="order-number" required></td>
                    </tr>
                    <tr>
                        <td><label for="id_address_line_one">e-mail Address:<span class="red-text">*</span> </label></td>
                        <td><input type="email" name="email" id="email" required></td>
                    </tr>
                    <tr>
                        <td><label for="id_address_line_two">Delivery Postcode:<span class="red-text">*</span> </label></td>
                        <td><input type="text" name="postcode" id="postcode" required></td>
                    </tr>
                </table>
                <div class="form-large-button">
                    <button type="submit" form="address-form">Find Order</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

