{% extends "base.html" %}

{% block title %}
Cheese and Beer
{% endblock %}

{% block content %}
<div class="orders-search">
    <h2>Please fill out the following to review your order.</h2>
    <form action="{% url 'find_order' %}" method="POST" id="address-form">
        {% csrf_token %}
        <table class="address-form">
            <tr>
                <td><label for="id_full_name">Order Number:<span class="red-text">*</span></label></td>
                <td><input type="text" name="order-number" id="order-number" required></td>
            </tr>
            <tr>
                <td><label for="id_address_line_one">e-mail Address:<span class="red-text">*</span> </label></td>
                <td><input type="email" name="email" id="email" required></td>
            </tr>
            <tr>
                <td><label for="id_address_line_two">Delivery Postcode:<span class="red-text">*</span> </label></td>
                <td><input type="text" name="postcode" id="postcode" required></td>
            </tr>
        </table>
        <button type="submit" form="address-form">Find Order</button>
    </form>
</div>
<div class="title-section">
    {% if order %}
    <h2>Order details, Order {{ order.order_number }}</h2>
    {% endif %}
</div>
<div id="order-item-view">
    <div id="basket-listings">
        {% for item in items %}    
        <div class="basket-item-view">
            <div class="order-view-image">
                <img src="{{ MEDIA_URL }}products/{{ item.product.image_url }}">
            </div>
            <div class="order-item-detail">
                        <h4>
                            {{ order__address.product.name }}
                            {% if item.product.product_type == "cheese" %}
                            ({{ item.product.amount }}g, {{ item.product.cheese_category }} cheese,
                            {{ item.product.variety | lower }})
                            {% else %}
                            ({{ item.product.amount }}ml {{ item.product.container }}, {{ item.product.beer_category }} beer,
                            {{ item.product.variety | lower }}, {{ item.product.alcohol_content }}% APR)
                            {% endif %}
                        </h4>
                        <p>
                            <small>ID: {{ item.product.product_number }}</small>
                        </p>
                        <p>
                            {{ item.quantity }} purchased at £{{ item.price }} each
                        </p>

            </div>
            <div class="basket-item-price">
                <h4>Item Total:</h4>
                <h4 class="order-checkout-price" id="basket-total-{{ item.product.id}}">
                    £{{ item.item_total }}
                </h4>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

