{% extends "base.html" %}

{% block title %}
Cheese and Beer
{% endblock %}

{% block content %}
<div class="listing-container">
    <div id="listing-view">
        <div id="account-view">
            <div id="account-options">
                <div class="account-purchases">
                    <h3>Personal Information</h3>
                    <a href="{% url 'manage_addresses' %}">
                        <div class="account-info-section">           
                            <i class="fa-solid fa-house"></i> Manage Addresses
                        </div>
                    </a>
                    {% if orders %}
                    <a href="{% url 'view_orders' %}">
                        <div class="account-info-section">           
                            <i class="fa-solid fa-list"></i> View Orders
                        </div>
                    </a>    
                    {% endif %}
                    <a href="">
                        <div class="account-info-section">           
                            <i class="fa-solid fa-cloud"></i> View Wishlist
                        </div>
                    </a>      
                </div>
                <div class="account-administration">
                    <h3>Account Administration</h3>
                    <a href="{% url 'account_reset_password' %}">
                        <div class="account-info-section">           
                            <i class="fas fa-key"></i> Change Password
                        </div>
                    </a>
                    <a href="">
                        <div class="account-info-section">           
                            <i class="fa-solid fa-envelope"></i> Contact Us
                        </div>
                    </a>
                    <a href="{% url 'account_logout' %}">
                        <div class="account-info-section">           
                            <i class="fa-solid fa-door-open"></i> Log Out
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}