{% extends "base.html" %}

{% block title %}
Cheese and Beer
{% endblock %}

{% block content %}
<div class="listing-container">
    <div id="listing-view">
        <div id="account-view">
            <div id="account-options">
                <div class="account-purchases">
                    <h3>Personal Information</h3>
                    {% if addresses %}
                    <div class="account-info-section">           
                        <a href="{% url 'manage_addresses' %}"><i class="fa-solid fa-house"></i> Manage Addresses</a>
                    </div>
                    {% endif %}
                    {% if orders %}
                    <div class="account-info-section">           
                        <a href="{% url 'view_orders' %}"><i class="fa-solid fa-list"></i> View Orders</a>
                    </div>        
                    {% endif %}
                    <div class="account-info-section">           
                        <a href=""><i class="fa-solid fa-cloud"></i> View Wishlist</a>
                    </div>        
                </div>
                <div class="account-administration">
                    <h3>Account Administration</h3>
                    <a href="{% url 'account_reset_password' %}">
                        <div class="account-info-section">           
                            <i class="fas fa-key"></i> Change Password
                        </div>
                    </a>
                    <div class="account-info-section">           
                        <a href=""><i class="fa-solid fa-envelope"></i> Contact Us</a>
                    </div>
                    <div class="account-info-section">           
                        <a href="{% url 'account_logout' %}"><i class="fa-solid fa-door-open"></i> Log Out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}