{% extends "base.html" %}

{% block title %}
Cheese and Beer
{% endblock %}

{% block content %}
<div id="buynow-alert" class="delete-alert not-displayed">
    <div class="alert-header">
        <h4>Buy Now Options</h4>
        <i class="fa-solid fa-xmark cancel-alert"></i>
    </div>
    <div class="alert-content">
        <h4 class="alert-main-title">Buy "<span id="buy-now-name"></span>"</h4>
        <p>You have other items in your basket, do you wish to keep them?</p>
    </div>
    <div class="alert-footer">
        <a id="keep-products" href="">
            <span class="alert-buttons yes-button">Yes</span>
        </a>
        <a id="remove-products" href="">
            <span class="alert-buttons cancel-alert no-button">No</span>
        </a>
    </div>
</div>
<div class="listing-container" class="alert-disable">
    <div id="listing-view">
        <div id="listing-listings">
            <div class="title-section">
                <h2>Order Detail: <span class="grey-text">{{ order.order_number }}</span></h2>
            </div>
            {% for item in items %}   
            <div class="listing-item-view">
                <a href="{% url 'product_detail' item.product.id %}">
                    <div class="listing-image">
                        <img src="{{ MEDIA_URL }}products/{{ item.product.image_url }}">
                    </div>
                </a>
                <div class="listing-detail">
                    <div class="listing-info">
                        <div class="listing-item">
                            <a class="listing-name" href="{% url 'product_detail' item.product.id %}">
                                <h4>
                                <span id="buyname-{{ item.product.id }}">{{ item.product.name }}</span>
                                {% if item.product.product_type == "cheese" %}
                                ({{ item.product.amount }}g, {{ item.product.cheese_category }} cheese,
                                {{ item.product.variety | lower }}, {{ item.product.texture }})
                                {% else %}
                                ({{ item.product.amount }}ml {{ item.product.container }}, {{ item.product.beer_category }} beer,
                                {{ item.product.variety | lower }}, {{ item.product.alcohol_content }}% APR)
                                {% endif %}
                                </h4>
                            </a>
                            {% if item.product.displayed %}            
                            <h4 class="green-text">Available</h4>
                            {% else %}
                            <h4 class="red-text">Unavailable</h4>
                            {% endif %}
                            <p>
                                <span class="grey-text"><small>ID: {{ item.product.product_number }}</small></span>
                            </p>
                        </div>
                        <div class="listing-item-price">
                            <h4>Total</h4>
                            <h4 class="order-checkout-price" id="basket-total-{{item.product.id}}">
                                {% load order_calculator %}
                                £{{ item.product.price | totalizer:item.quantity }}
                            </h4>
                        </div>
                    </div>
                    <div class="special-offers">
                        <strong>£{{ item.product.price }} x {{ item.quantity }}</strong> 
                    </div>
                    <div> 
                        {% if basket_total %}                
                        <span class="product-action-button buy-now buy-again-button" id="basket-{{ item.product.id }}">
                            <i class="fa-solid fa-credit-card"></i> Buy Again
                        </span>
                        {% else %}
                        <span class="product-action-button buy-now buy-again-button" id="single-{{ item.product.id }}">
                            <i class="fa-solid fa-credit-card"></i> Buy Again
                        </span>                          
                        {% endif %}
                    </div>                    
                </div>
            </div>
            {% endfor %}
            <div class="order-info-subtotal bottom-border">
                {% if order.delivery_cost %}
                <h4>Delivery Charges: £{{ order.delivery_cost }}</h4>
                {% endif %}
                <h4><span class="forest-green-text">Grand Total: £{{ order.grand_total }}</span></h4>
            </div>
            <div>
                {% if user.is_authenticated %}
                <a href="{% url 'view_orders' %}">
                {% else %}
                <a href="{% url 'find_order' %}">
                {% endif %}
                    <span class="checkout-button action-buttons">View Another Order</span>
                </a>            
            </div>
        </div>        
    </div>
</div>
{% endblock %}