{% extends "base.html" %}

{% block title %}
Cheese and Beer
{% endblock %}

{% block content %}
<div class="listing-container alert-disable">
    {% if messages %}
    {% for message in messages %}
    {% with message.level as level %}
    {% if level == 40 %}
    <div id="general-message" class="error-message alert-disable">
    {% elif level == 30 %}
    <div id="general-message" class="warning-message alert-disable">
    {% elif level == 25 %}
    <div id="general-message" class="success-message alert-disable">
    {% else %}
    <div id="general-message" class="warning-message alert-disable">
    {% endif %}
    {% endwith %}    
        {{ message }}
    </div>      
    {% endfor %}    
    {% endif %}
    <div id="listing-view">
        <div class="orders-container">
            <div class="title-section bottom-border">
                <h2>Your Orders</h2>
                Click <a class="sign-up-link" href="{% url 'account_overview' %}">here</a> to return to your account page.
                <p>Search by Order Number or Delivery Postcode:</p>
            </div>
            <div class="orders-search">                
                <form method="GET" action="{% url 'view_orders' %}">
                    <div>
                        <button type="submit">search</button>
                        <input type="text" class="search-stuff" name="q" placeholder="Search">                        
                    </div>
                </form>
            </div>            
            {% if orders %}
            <div class="orders-view">
                <div class="container-div">
                    <div class="orders-order-info">
                        <h4>Order Info</h4>
                    </div>
                    <div class="orders-shipped-address">
                        <h4>Shipped Address</h4>
                    </div>
                    <div class="orders-products-shipped">
                        <h4>Products Shipped</h4>
                    </div>
                </div>       
                {% for order in orders %}
                <div class="container-div">
                    <div class="orders-order-info">
                        <p><i class="fas fa-calendar-alt"></i>{{ order.order_date | date:"d/m/Y"}}</p>
                        <p><i class="fa-solid fa-credit-card"></i>£{{ order.grand_total }}</p>
                        <a class="orders-view-link" href="{% url 'order_info' order.id %}"><p><i class="fa-solid fa-eye"></i><span class="orders-view-link">View</span></p></a>
                        <a href="{% url 'contact_form' %}?order_number={{ order.order_number }}"><p><i class="fa-solid fa-envelope"></i><span class="orders-view-link">Contact</span></p></a>
                    </div>
                    <div class="orders-shipped-address">
                        <p><span class="dark-green-text"><strong>{{ order.full_name }}</strong></span></p>
                        <p>{{ order.address_line_one }}</p>
                        {% if order.address_line_two %}
                        <p>{{ order.address_line_two }}</p> 
                        {% endif %}
                        <p>{{ order.town_or_city }}</p>
                        <p>{{ order.county }}</p>
                        <p>{{ order.postcode }}</p>
                    </div>
                    <div class="orders-products-shipped">
                        {% for item in order.lineitems.all %}
                        <a class="orders-view-link" href="{% url 'product_detail' item.product.id %} "><p>{{ item.product.name }}</p></a>
                        {% endfor %}
                    </div>
                </div>  
                {% endfor %}
            </div>       
            {% else %}
            <div class="bottom-border">
                {% if query %}
                <h3>No orders found, please try again.</h3>
                {% else %}
                <h3>You have not yet placed any orders.</h3>
                {% endif %}
                Why not buy some <a class="sign-up-link" href="{% url 'view_results' %}?category=cheese">cheese</a> or <a class="sign-up-link" href="{% url 'view_results' %}?category=cheese">beer</a>?
            </div>
            {% endif %}     
        </div>
    </div>
</div>

{% endblock %}

