<div class="title-section">
    <h2>Order details, Order {{ order.order_number }}</h2>
</div>
<div id="order-item-view">
    <div id="basket-listings">
        {% for item in items %}    
        <div class="basket-item-view">
            <div class="order-view-image">
                <img src="{{ MEDIA_URL }}products/{{ item.product.image_url }}">
            </div>
            <div class="order-item-detail">
                        <h4>
                            {{ item.product.name }}
                            {% if item.product.product_type == "cheese" %}
                            ({{ item.product.amount }}g, {{ item.product.cheese_category }} cheese,
                            {{ item.product.variety | lower }})
                            {% else %}
                            ({{ item.product.amount }}ml {{ item.product.container }}, {{ item.product.beer_category }} beer,
                            {{ item.product.variety | lower }}, {{ item.product.alcohol_content }}% APR)
                            {% endif %}
                        </h4>
                        <p>
                            <small>ID: {{ item.product.product_number }}</small>
                        </p>
                        <p>
                            {{ item.quantity }} purchased at £{{ item.price }} each
                        </p>

            </div>
            <div class="basket-item-price">
                <h4>Item Total:</h4>
                <h4 class="order-checkout-price" id="basket-total-{{ item.product.id}}">
                    £{{ item.item_total }}
                </h4>
            </div>
            <div class="buy-from-view">
                <div class="buynow-alert not-displayed" id="alert-{{  item.product.id }}">
                    <h4>Buy Now:</h4> 
                    <h4>{{ product.name }}</h4>
                    <p>You have other items in your basket, do you wish to remove them?</p>
                    <div class="alert-buttons-container">
                        <a id="remove-{{  item.product.id }}" href="{% url 'buy_now' %}?remove={{  item.product.id }},1">
                            <span class="alert-buttons alert-positive">
                                Yes, please.
                            </span>
                        </a>
                        <a id="addon-{{  item.product.id }}" href="{% url 'buy_now' %}?addon={{  item.product.id }},1">
                            <span class="alert-buttons alert-negative">
                                No, thank you.
                            </span>
                        </a>
                    </div>
                    <span class="alert-buttons alert-cancel" id="cancel-{{  item.product.id }}">
                    Cancel Action
                    </span>
                </div>
                <div class="buynow-buttons alert-disable"> 
                    {% if basket_total %}
                    
                    <span class="action-button buy-now" id="basket-{{ item.product.id }}">
                        <i class="fa-solid fa-credit-card"></i> Buy Again
                    </span>
                    {% else %}
                    <a href="{% url 'buy_now' %}?single={{  item.product.id }},1">
                        <span class="action-button buy-now" id="buy-{{  item.product.id }}">
                            <i class="fa-solid fa-credit-card"></i> Buy Again
                        </span>
                    </a>                            
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>

{% endblock %}

