{% extends "base.html" %}

{% block title %}
Cheese and Beer
{% endblock %}

{% block content %}
<div id="homepage-content">
    <div id="homepage-intro"></div>
    <h2>Welcome to Cheese and Beer!</h2>
    <p>Cheese and Beer is a place devoted to the joy of a decadent cheeseboard washed down with a tasty glass of beer.</p>

    <p>Whether buying for yourself or as a gift, we'll help you to find the perfect cheese partner for you,
        and the right beer to wash it down, without needing to be an expert or breaking the bank.
    </p>
    </div>
    <div id="homepage-banners">
        <div id="homepage-banner-one" class="homepage-banner">
            <a href="{% url 'view_results' %}?category=cheese">
                <span class="banner-text-holder">
                    <h3>BUY CHEESE</h3>
                </span>
            </a>
        </div>
        <div id="homepage-banner-two" class="homepage-banner">
            <a href="{% url 'view_results' %}?category=beer">
                <span class="banner-text-holder">
                    <h3>BUY BEER</h3>
                </span>
            </a>
        </div>
    </div>
</div>

{% endblock %}