{% extends "base.html" %}

{% block title %}
Cheese and Beer
{% endblock %}

{% block content %}
<div id="background-container">    
    {% if messages %}
    {% for message in messages %}
    {% with message.level as level %}
    {% if level == 40 %}
    <div id="general-message" class="error-message">
    {% elif level == 30 %}
    <div id="general-message" class="warning-message">
    {% elif level == 25 %}
    <div id="general-message" class="success-message">
    {% else %}
    <div id="general-message" class="warning-message">
    {% endif %}
    {% endwith %}    
        {{ message }}
    </div>      
    {% endfor %}    
    {% endif %}
    <div class="homepage-container">
        <div id="form-large">
            <div class="homepage-container">
                <div id="homepage-intro">
                    <h2>Welcome to Cheese and Beer!</h2>
                    <p>Cheese and Beer is a place devoted to the joy of a decadent cheeseboard washed down with a tasty glass of beer.</p>
                    <p>Whether buying for yourself or as a gift, we'll help find the perfect cheese or beer for you.</p>               
                </div>  
                <div id="homepage-banners">
                    <div id="homepage-banner-one" class="homepage-banner">
                        <a href="{% url 'view_results' %}?category=cheese">
                            <h3>
                                <span class="banner-text-holder">
                                    BUY CHEESE                                
                                </span>
                            </h3>
                        </a>
                    </div>
                    <div id="homepage-banner-two" class="homepage-banner">
                        <a href="{% url 'view_results' %}?category=beer">
                            <h3>
                                <span class="banner-text-holder">
                                    BUY BEER
                                </span>
                            </h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}