SECRET_KEY=<your_secret_key>
DEBUG=True
HOST=localhost,127.0.0.1 #include url for prodution
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=mailhog  #mailhog in dev, mail-postfix in prod
EMAIL_PORT=1025  #mailhog port #25 for postfix
EMAIL_USE_TLS=False #False in dev with mailhog
DEFAULT_FROM_EMAIL=<email_from_address>
CLOUD_NAME=<cloudinary_cloud>
API_KEY=<cloudinary_api>
API_SECRET=<cloudinary_secret>
DATABASE_URL=postgresql://<your_db_user>:<your_db_password@<db_docker_network_or_cluster>:5432/<your_db_name>
CLOUDINARY_BASE=https://res.cloudinary.com/<cloudinary_cloud>/image/upload/<cloudinary_server>/<cloudinary_folder>/
DEVELOPMENT=True
STRIPE_PUBLIC_KEY=<create_public_key>
STRIPE_SECRET_KEY=<create_secret_key>
STRIPE_WH_SECRET=<stripe_wh_secret>