{% extends "base.html" %}

{% block title %}
Cheese and Beer
{% endblock %}
 
{% block content %}
<div id="product-page">
    <div class="product-overview">          
        <div class="detail-image">
            <img src="{{ MEDIA_URL }}products/{{ product.image_url }}">
        </div>
        <div class="detail-information">
            <div>
                <h3>
                    {{ product.name }} ({{product.amount }}g{% if product.container %} {{ product.container }}{% endif %})
                </h3>
                {% load countries %}
                {% get_country product.country_origin as country %}
                <p>
                    <img src="{{ country.flag }}"> {{ country.name }}
                </p>
                <p>
                    <small>{{ product.product_number }}</small>
                </p>
                <hr>
                <h4>
                    £{{ product.price }} 
                    <em><small>
                    {% if product.cheese_category  %}
                    ({{ product.price_per_amount }}/kg)
                    {% else %}
                    ({{ product.price_per_amount }}/ltr)
                    {% endif %}
                    </small></em>
                </h4>            
                <p>
                    {% if product.cheese_category  %} 
                    Category: {{ product.cheese_category }}
                    {% else %}
                    Category: {{ product.beer_category }}
                    {% endif %}
                </p>
                <p>
                    Variety: {{ product.variety | lower }}
                </p>
                {% if product.beer_category %}
                <p>
                    APR: {{ product.alcohol_content }}%
                </p>
                {% endif %}
                
            </div>        
            <hr>
            <div class="detail-description">
                {{ product.description | linebreaksbr }}
            </div>
        </div>
        <div class="product-action-section">
            <div>
                <h3>£{{ product.price }}</h3>
            </div>
            {% if product.displayed %}            
            <h4 class="green-text">Available</h4>
            <p>Estimated delivery {{ delivery_date }}</p>
            {% else %}
            <h4 class="red-text">Unavailable</h4>
            {% endif %}

            {% if product.displayed %} 
            <form method="POST" action="{% url 'add_to_basket' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="view" id="view" value="{{ request.path }}?{{ current_view }}">
                <div class="quantity-box-product">
                    <label for="quantity"><h4>Quantity:</h4></label>
                    <i id="decrement-amount" class="fa fa-minus"></i> <input type="number" name="quantity" id="quantity" min="1" value="1"> <i id="increment-amount" class="fa fa-plus"></i>
                </div>
                <input type="hidden" name="product" id="product" value="{{ product.id }}">                     
                <div class="product-action-buttons">
                    <button class="product-action-button product-add-basket">
                        <i class="fas fa-shopping-basket"></i> Add to Basket
                    </button>
                </div>
            </form>
            <div class="product-action-buttons">
                <span class="product-action-button product-buy-now">
                    <i class="fa-solid fa-credit-card"></i> Buy it Now
                </span>
            </div>
            {% endif %}
        </div>
    </div>
    <hr>
    <div id="product-matching">
        {% if pairings %}
        <h3>Pairs Well With:</h3>
        {% for pairing in pairings %}
        <div class="pairings-section">
            <div class="pairing-detail">          
                <div class="product-image">
                    <a href="{% url 'product_detail' pairing.id %}">
                        <img src="{{ MEDIA_URL }}products/{{ pairing.image_url }}">
                    </a>
                </div>
                <div class="product-name">
                    <a href="{% url 'product_detail' pairing.id %}">
                        <h4>{{ pairing.name }}</h4>
                    </a>
                </div>
                <div class="product-info">
                    <div>
                        <p>
                            {% if pairing.cheese_category  %}                            
                            Category: 
                            <a href="{% url 'view_results' %}?view_category=cheese,{{ pairing.cheese_category }}">
                                {{ pairing.cheese_category }}
                            </a>
                            {% else %}                            
                            Category:
                            <a href="{% url 'view_results' %}?view_category=beer,{{ pairing.beer_category }}">
                            {{ pairing.beer_category }}
                            </a>
                            {% endif %}
                        </p>
                    
                        <p>
                        Variety: 
                        <a href="{% url 'view_results' %}?query={{ pairing.variety }}">
                            {{ pairing.variety | lower }}
                        </a>
                        </p>
                    </div>
                    <div class="listing-price">
                        <h4>
                            {% if pairing.product_type == "cheese" %}
                            £{{ pairing.price }} ({{pairing.amount}}g)
                            {% else %}
                            £{{ pairing.price }} ({{pairing.amount}}ml)
                            {% endif %}
                        </h4>
                        <p>
                            {% if pairing.product_type == "cheese" %}
                            <em><small>£{{ pairing.price_per_amount }} / kg</small></em>
                            {% else %}
                            <em><small>£{{ pairing.price_per_amount }} / ltr</small></em>
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class="action-section">
                    <a href="{% url 'product_detail' pairing.id %}">
                        <p><small><em><u>more information</u></em></small></p>
                    </a>
                    <a href="">
                        <span class="action-button add-basket">
                            <i class="fas fa-shopping-basket"></i> Add
                        </span>
                    </a>
                    <a href="">
                        <span class="action-button buy-now">
                            <i class="fa-solid fa-credit-card"></i> Buy
                        </span>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}