{% extends "base.html" %}

{% block title %}
Cheese and Beer
{% endblock %}
 
{% block content %}
<div id="buynow-alert" class="delete-alert not-displayed">
    <div class="alert-header">
        <h4>Buy Now Options</h4>
        <i class="fa-solid fa-xmark cancel-alert"></i>
    </div>
    <div class="alert-content">
        <h4>Buy "<span id="buy-now-name"></span>"</h4>
        <p>You have other items in your basket, do you wish to keep them?</p>
    </div>
    <div class="alert-footer">
        <a id="keep-products" href="">
            <span class="alert-buttons yes-button">Yes</span>
        </a>
        <a id="remove-products" href="">
            <span class="alert-buttons cancel-alert no-button">No</span>
        </a>
    </div>
</div>
<div id="product-page" class="alert-disable">
    {% if messages %}
    {% for message in messages %}
    {% with message.level as level %}
    {% if level == 40 %}
    <div id="basket-message" class="error-message">
    {% elif level == 30 %}
    <div id="basket-message" class="warning-message">
    {% elif level == 25 %}
    <div id="basket-message" class="success-message">
    {% else %}
    <div id="basket-message" class="warning-message">
    {% endif %}
    {% endwith %}    
        {{ message }}
    </div>
    {% endfor %}    
    {% endif %}
    <div class="product-overview">          
        <div class="detail-image">
            <img src="{{ MEDIA_URL }}products/{{ product.image_url }}">
        </div>
        <div class="detail-information">
            <div>
                <h3>
                    <span id="buyname-{{ product.id }}">{{ product.name }}</span> ({{product.amount }}g{% if product.container %} {{ product.container }}{% endif %})
                </h3>
                {% load countries %}
                {% get_country product.country_origin as country %}
                <p>
                    <img src="{{ country.flag }}"> {{ country.name }}
                </p>
                <p>
                    <small>{{ product.product_number }}</small>
                </p>
                <hr>
                <h4>
                    £<span id="product-price">{{ product.price }}</span>
                    <em><small>
                    {% if product.cheese_category  %}
                    ({{ product.price_per_amount }}/kg)
                    {% else %}
                    ({{ product.price_per_amount }}/ltr)
                    {% endif %}
                    </small></em>
                </h4>            
                <p>
                    {% if product.cheese_category  %} 
                    Category: {{ product.cheese_category }}
                    {% else %}
                    Category: {{ product.beer_category }}
                    {% endif %}
                </p>
                <p>
                    Variety: {{ product.variety | lower }}
                </p>
                {% if product.cheese_category %}
                <p>
                    Texture: {{ product.texture | lower }}
                </p>
                {% else %}
                <p>
                    APR: {{ product.alcohol_content }}%
                </p>
                {% endif %}
                
            </div>        
            <hr>
            <div class="detail-description">
                {{ product.description | linebreaksbr }}
            </div>
        </div>
        <div class="product-action-section">
            <div class="alert-disable">
                <div>
                    <h3>£<span id="product-view-total">{{ product.price }}<span></h3>
                </div>
                {% if product.displayed %}            
                <h4 class="green-text">Available</h4>
                <p>Estimated delivery {{ delivery_date }}</p>
                {% else %}
                <h4 class="red-text">Unavailable</h4>
                {% endif %}
            </div>

            {% if product.displayed %} 
            <form method="POST" action="{% url 'add_to_basket' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="view" id="view" value="{{ request.path }}?{{ current_view }}">
                <div class="quantity-box-product">
                    <label for="quantity"><h4>Quantity:</h4></label>
                    <i id="decrement-amount" class="fa fa-minus"></i> <input type="number" name="quantity" id="quantity" min="1" value="1"> <i id="increment-amount" class="fa fa-plus"></i>
                </div>
                <input type="hidden" name="product" id="product" value="{{ product.id }}">                     
                <div class="product-action-buttons">
                    <button class="product-action-button product-add-basket">
                        <i class="fas fa-shopping-basket"></i> Add to Basket
                    </button>
                </div>
            </form>
            <div class="product-action-buttons"> 
                {% if basket_total %}                
                <span class="product-action-button buy-now" id="basket-{{ product.id }}">
                    <i class="fa-solid fa-credit-card"></i> Buy
                </span>
                {% else %}
                <span class="product-action-button buy-now" id="single-{{ product.id }}">
                    <i class="fa-solid fa-credit-card"></i> Buy
                </span>                          
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
    <hr>
    <div id="product-matching">
        {% if pairings %}
        <h3>Pairs Well With:</h3>
        {% for pairing in pairings %}
        <div class="pairings-section">
            <div class="pairing-detail">          
                <div class="product-image">
                    <a href="{% url 'product_detail' pairing.id %}">
                        <img src="{{ MEDIA_URL }}products/{{ pairing.image_url }}">
                    </a>
                </div>
                <div class="product-name">
                    <a href="{% url 'product_detail' pairing.id %}">
                        <h4 id="buyname-{{ pairing.id }}">{{ pairing.name }}</h4>
                    </a>
                </div>
                <div class="product-info">
                    <div>
                        <p>
                            {% if pairing.cheese_category  %}                            
                            Category: 
                            <a href="{% url 'view_results' %}?view_category=cheese,{{ pairing.cheese_category }}">
                                {{ pairing.cheese_category }}
                            </a>
                            {% else %}                            
                            Category:
                            <a href="{% url 'view_results' %}?view_category=beer,{{ pairing.beer_category }}">
                            {{ pairing.beer_category }}
                            </a>
                            {% endif %}
                        </p>
                    
                        <p>
                        Variety: 
                        <a href="{% url 'view_results' %}?query={{ pairing.variety }}">
                            {{ pairing.variety | lower }}
                        </a>
                        </p>
                    </div>
                    <div class="listing-price">
                        <h4>
                            {% if pairing.product_type == "cheese" %}
                            £{{ pairing.price }} ({{pairing.amount}}g)
                            {% else %}
                            £{{ pairing.price }} ({{pairing.amount}}ml)
                            {% endif %}
                        </h4>
                        <p>
                            {% if pairing.product_type == "cheese" %}
                            <em><small>£{{ pairing.price_per_amount }} / kg</small></em>
                            {% else %}
                            <em><small>£{{ pairing.price_per_amount }} / ltr</small></em>
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class="view-action-buttons">
                    <div class="add-from-view">
                        <form method="POST" action="{% url 'add_to_basket' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="view" id="view" value="{{ request.path }}?{{ current_view }}">
                            <input type="hidden" name="quantity" id="quantity" value="1">
                            <input type="hidden" name="product" id="product" value="{{ pairing.id }}">                     
                            <button class="action-button add-basket">
                                <i class="fas fa-shopping-basket"></i> Add
                            </button>
                        </form>
                    </div>
                    <div class="buy-from-view">
                        <div class="buynow-buttons"> 
                            {% if basket_total %}                            
                            <span class="action-button buy-now" id="basket-{{ pairing.id }}">
                                <i class="fa-solid fa-credit-card"></i> Buy
                            </span>
                            {% else %}
                            <a href="{% url 'buy_now' %}?single={{ pairing.id }},1">
                                <span class="action-button buy-now" id="buy-{{ pairing.id }}">
                                    <i class="fa-solid fa-credit-card"></i> Buy
                                </span>
                            </a>                            
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}