{% extends "base.html" %}

{% block title %}
Cheese and Beer
{% endblock %}

{% block content %}
<div id="product-view">
    {% if messages %}
    {% for message in messages %}
    {% with message.level as level %}
    {% if level == 40 %}
    <div id="basket-message" class="error-message">
    {% elif level == 30 %}
    <div id="basket-message" class="warning-message">
    {% elif level == 25 %}
    <div id="basket-message" class="success-message">
    {% else %}
    <div id="basket-message" class="warning-message">
    {% endif %}
    {% endwith %}    
        {{ message }}
    </div>      
    {% endfor %}    
    {% endif %}
    <div id="results and filter" class="alert-disable">
        <div id="results">
            {% if products %}
            {% if type %}
            <h3>{{ number }} {{ result }} for {{ category.name }} {{ type }}</h3>
            {% else %}
            <h3>{{ number }} {{ result }} for {{ search_term }}</h3>
            {% endif %}
            {% else %}
            <h3>You have returned no results.  Please try again.</h3>
            {% endif %}
        </div>
        <div id="filter">
            <select id="sort-selector" class="{% if current_sorting != 'None_None' %}green-sorter{% else %}black-sorter{% endif %}">
                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                <option value="trending_desc" {% if current_sorting == 'trending_desc' %}selected{% endif %}>Most Popular</option>
            </select>
        </div>
    </div>
    <!-- keep in mind this id is used in the javascript to activate the buy now code -->
    <div id="product-listings">
        {% for product in products %}
        {% if product.displayed %}
        <div class="product-section">
            <div class="product-detail">          
                <div class="product-image alert-disable">
                    <a href="{% url 'product_detail' product.id %}">
                        <img src="{{ MEDIA_URL }}products/{{ product.image_url }}">
                    </a>
                </div>
                <div class="product-name alert-disable">
                    <a href="{% url 'product_detail' product.id %}">
                        <h4>{{ product.name }}</h4>
                    </a>
                </div>
                <div class="product-info alert-disable">
                    <div>
                        <p>
                            {% if product.cheese_category  %}                            
                            Category: 
                            <a href="{% url 'view_results' %}?view_category=cheese,{{ product.cheese_category }}">
                                {{ product.cheese_category }}
                            </a>
                            {% else %}                            
                            Category:
                            <a href="{% url 'view_results' %}?view_category=beer,{{ product.beer_category }}">
                            {{ product.beer_category }}
                            </a>
                            {% endif %}
                        </p>
                    
                        <p>
                        Variety: 
                        <a href="{% url 'view_results' %}?query={{ product.variety }}">
                            {{ product.variety | lower }}
                        </a>
                        </p>
                    </div>
                    <div class="listing-price">
                        <h4>
                            {% if product.product_type == "cheese" %}
                            £{{ product.price }} ({{product.amount}}g)
                            {% else %}
                            £{{ product.price }} ({{product.amount}}ml)
                            {% endif %}
                        </h4>
                        <p>
                            {% if product.product_type == "cheese" %}
                            <em><small>£{{ product.price_per_amount }} / kg</small></em>
                            {% else %}
                            <em><small>£{{ product.price_per_amount }} / ltr</small></em>
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class="action-section alert-disable">
                    <a href="{% url 'product_detail' product.id %}">
                        <p><small><em><u>more information</u></em></small></p>
                    </a>                    
                </div>
                <div class="view-action-buttons">
                    <div class="add-from-view alert-disable">
                        <form method="POST" action="{% url 'add_to_basket' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="view" id="view" value="{{ request.path }}?{{ current_view }}">
                            <input type="hidden" name="quantity" id="quantity" value="1">
                            <input type="hidden" name="product" id="product" value="{{ product.id }}">                     
                            <button class="action-button add-basket">
                                <i class="fas fa-shopping-basket"></i> Add
                            </button>
                        </form>
                    </div>
                    <div class="buy-from-view">
                        <div class="buynow-alert not-displayed" id="alert-{{ product.id }}">
                            <h4>Buy Now:</h4> 
                            <h4>{{ product.name }}</h4>
                            <p>You have other items in your basket, do you wish to remove them?</p>
                            <div class="alert-buttons-container">
                                <a id="remove-{{ product.id }}" href="{% url 'buy_now' %}?remove={{ product.id }},1">
                                    <span class="alert-buttons alert-positive">
                                        Yes, please.
                                    </span>
                                </a>
                                <a id="addon-{{ product.id }}" href="{% url 'buy_now' %}?addon={{ product.id }},1">
                                    <span class="alert-buttons alert-negative">
                                        No, thank you.
                                    </span>
                                </a>
                            </div>
                            <span class="alert-buttons alert-cancel" id="cancel-{{ product.id }}">
                               Cancel Action
                            </span>
                        </div>
                        <div class="buynow-buttons alert-disable"> 
                            {% if basket_total %}
                            
                            <span class="action-button buy-now" id="basket-{{ product.id }}">
                                <i class="fa-solid fa-credit-card"></i> Buy
                            </span>
                            {% else %}
                            <a href="{% url 'buy_now' %}?single={{ product.id }},1">
                                <span class="action-button buy-now" id="buy-{{ product.id }}">
                                    <i class="fa-solid fa-credit-card"></i> Buy
                                </span>
                            </a>                            
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>  
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}

