{% extends "base.html" %}

{% block title %}
Cheese and Beer
{% endblock %}

{% block content %}
<div id="product-view">
    <div id="results and filter">
        <div id="results">
            {% if products %}
            {% if category %}
            <h3>{{ number }} {{ result }} for {{ category.name }} {{ type }}</h3>
            {% else %}
            <h3>{{ number }} {{ result }} for {{ search_term }}</h3>
            {% endif %}
            {% else %}
            <h3>You have returned no results.  Please try again.</h3>
            {% endif %}
        </div>
        <div id="filter">

        </div>
    </div>
    <div id="product-listings">
        {% for product in products %}
        {% if product.displayed %}
        <div class="product-section">
            <div class="product-detail">          
                <div class="product-image">
                    <a href="{% url 'product_detail' product.id %}">
                        <img src="{{ MEDIA_URL }}products/{{ product.image_url }}">
                    </a>
                </div>
                <div class="product-name">
                    <a href="{% url 'product_detail' product.id %}">
                        <h4>{{ product.name }}</h4>
                    </a>
                </div>
                <div class="product-info">
                    <div>
                        <p>
                            {% if product.cheese_category  %}                            
                            Category: 
                            <a href="{% url 'view_results' %}?view_category=cheese,{{ product.cheese_category }}">
                                {{ product.cheese_category }}
                            </a>
                            {% else %}                            
                            Category:
                            <a href="{% url 'view_results' %}?view_category=beer,{{ product.beer_category }}">
                            {{ product.beer_category }}
                            </a>
                            {% endif %}
                        </p>
                    
                        <p>
                        Variety: 
                        <a href="{% url 'view_results' %}?query={{ product.variety }}">
                            {{ product.variety | lower }}
                        </a>
                        </p>
                    </div>
                    <div class="listing-price">
                        <h4>
                            {% if product.product_type == "cheese" %}
                            £{{ product.price }} ({{product.amount}}g)
                            {% else %}
                            £{{ product.price }} ({{product.amount}}ml)
                            {% endif %}
                        </h4>
                        <p>
                            {% if product.product_type == "cheese" %}
                            <em><small>£{{ product.price_per_amount }} / kg</small></em>
                            {% else %}
                            <em><small>£{{ product.price_per_amount }} / ltr</small></em>
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class="action-section">
                    <a href="{% url 'product_detail' product.id %}">
                        <p><small><em><u>more information</u></em></small></p>
                    </a>                    
                </div>
                <div class="view-action-buttons">
                    <div class="add-from-view">
                        <form method="POST" action="{% url 'add_to_basket' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="view" id="view" value="{{ request.path }}?{{ current_view }}">
                            <input type="hidden" name="quantity" id="quantity" value="1">
                            <input type="hidden" name="product" id="product" value="{{ product.id }}">                     
                            <button class="action-button add-basket">
                                <i class="fas fa-shopping-basket"></i> Add
                            </button>
                        </form>
                    </div>
                    <div class="buy-from-view">
                        <form method="POST" id="products-buy-now" action="" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="view" id="view" value="{{ request.path }}?{{ current_view }}">
                            <input type="hidden" name="quantity" id="quantity" value="1">
                            <input type="hidden" name="product" id="product" value="{{ product.id }}">                     
                            <button class="action-button buy-now" form="products-buy-now">
                                <i class="fa-solid fa-credit-card"></i> Buy
                            </button>
                        </form>
                    </div>
                </div>
            </div>  
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}

