.category-selector {
    background-color:grey;
    display:inline-block;
    color:black;
    border:rgb(53, 52, 52) 2px solid;
    cursor: pointer;
    padding:5px;
    margin: 5px;
    width: 100px;
    text-align: center;
    border-radius: 4px;
}

.button-on {
    font-size: 200%;
    color: green;
    text-decoration: none;
}
.button-off{
    font-size: 200%;
    color: red;
    text-decoration: none;
}