/*GENERAL*/
@font-face {
    font-family: title;
    src: url("../fonts/FallIsComingRegular-Mx9B.ttf");
    font-display: swap;
}
@font-face {
    font-family: main;
    src: url("../fonts/RobotoFlex-VariableFont_GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf");
    font-display: swap;
}

button {
    outline: none;
    border:none;
}

a, a:visited, a:link, a:active, a:hover, a:focus  {
    text-decoration: none;
    color: inherit;
    outline: 0;
    cursor: pointer;
}
ul {
    list-style-type: none;
    margin:0;
    padding:0;
}

h1 {
    font-family:title;
    font-size: 300%;
    display:inline-block;
}
h1,h2,h3,h4,p,img {
    margin:0;
    padding:0;
}
.clickable-element {
    cursor: pointer;
}
.not-displayed {
    display:none;
}
body {
    font-family: main;
    position:relative;
    margin:0;
    padding:0;
}
.green-text {
    color: rgb(3, 126, 3);
}
.red-text {
    color: rgb(255, 0, 0);
}
.forest-green-text {
    color:rgb(1, 70, 1);
}
.dark-green-text {
    color:rgb(0, 51, 0);
}




/*CHEESE/BEER CATEGORY SELECTOR*/
.category-selector {
    background-color:grey;
    display:inline-block;
    color:rgb(0, 0, 0);
    border:rgb(53, 52, 52) 2px solid;
    cursor: pointer;
    padding:5px;
    margin: 5px;
    width: 100px;
    text-align: center;
    border-radius: 4px;
}


/*EDIT PRODUCT*/

.button-on {
    font-size: 200%;
    color: rgb(0, 128, 0);
    text-decoration: none;
}
.button-off {
    font-size: 200%;
    color: rgb(255, 0, 0);
    text-decoration: none;
}

/*BASE TEMPLATE*/

.title-thing {
    display:inline-block;
    padding:15px 10px 0 10px;
    color: rgb(255, 255, 140);
    background-color:rgb(0, 51, 0);
    border: 2px inset rgb(0, 15, 0);
    margin: 10px 0 10px 20px;
}
.product-menu {
    display:flex;  
}

#main-navigation {    
    display:flex;
    justify-content:space-between;
    align-items: center;
    background-color:rgb(1, 70, 1);
    width:100%;
    height:100%;
}
.nav-menu-link {
    position:relative;
    display:block;
}

.nav-menu-link:hover {
    color:white;
}

#cheese-nav, #beer-nav, #account-nav, .checkout {
    position:relative;
    margin: 0 5px;
}
#account-nav {
    margin-right:10px;
}
.checkout {
    margin-left:0;
}

#cheese-desktop-mouseout, #beer-desktop-mouseout, #account-mouseout, .checkout {
    font-size:115%;
    color: rgb(255, 255, 140);
    padding:10px;
}
#beer-desktop-mouseover, #cheese-desktop-mouseover,
#beer-desktop-mouseout, #cheese-desktop-mouseout,
#account-mouseout, #account-mouseover {
    background-color:rgb(1, 70, 1);
    color:rgb(255, 255, 140);
}

.nav-menu-link {
    border-style: dotted;
    border-width: 0 1px 1px 1px; 
    border-color: rgb(0, 15, 0);
    padding:5px 10px;
}
#beer-desktop-mouseout, #cheese-desktop-mouseout {
    border-radius: 4px 4px 0 4px;
}
#account-mouseout {
    border-radius: 4px 4px 0 0;
}

#beer-desktop-mouseover, #cheese-desktop-mouseover,
#account-mouseover {
    position:absolute;
    top:42px;
    z-index: 1;
}
#cheese-desktop-mouseover {
    left:10px;
    width:110px;
}
#beer-desktop-mouseover {
    left:11px;
    width:85px;
}
#account-mouseover {
    width:123px;
}

.search {
    flex: 1;
    margin: 0 10px 0 20px;
}

.search-input {
    display: flex;
    align-items: center;
}

.search-bar {
    width:100%;
    padding:10px 10px;
    font-size: 110%;
    border-radius: 4px;
    outline: none;
    border:none;
    border: 1px solid rgb(0, 15, 0);
}
.search-bar-button {
    display:block;
    padding:5px 10px 6px 10px;
    margin-left: -50px;
    border-radius:0 2px 2px 0;
    background-color:rgb(0, 51, 0);
    color:rgb(255, 255, 140);
}
.search-bar-button:hover {
    background-color:rgb(1, 70, 1);
    
}
.fa-magnifying-glass {
    font-size: 220%;
}
#basket-total {
    padding:5px;
    font-size: 95%;
}
#basket-total:hover {
    background-color:rgb(255, 255, 140);
    border-radius: 6px;
    color:rgb(1, 70, 1);
}

.menu-checkout-button {
    margin-top:5px;
    padding:5px;
    text-align:center;
    background-color:rgb(0, 51, 0);
    border: 1px solid rgb(0, 15, 0);
    color:rgb(255, 255, 140);
    border-radius: 6px;
    font-size: 95%;
}
.menu-checkout-button:hover {
    background-color:rgb(255, 255, 140);
    color:rgb(1, 70, 1);
}
.checkout {
    margin-right:10px;
}

/*HOMEPAGE*/
#homepage-content { 
    height:400px;
    margin:40px 100px;
    text-align: center;
    background-color: rgb(226, 226, 189, 0.7);
    border-radius: 20px;
    padding:75px 20px;
    border: 4px solid rgb(16, 95, 0);
}

#homepage-banners {
    display:flex;
    justify-content:space-evenly;
    align-items:center;    
}
#homepage-intro {
    display:flex;
    flex-flow:column;
    justify-content:space-evenly;
    width:400px;
    height:400px;
    background-color:rgb(0, 51, 0);
    color:rgb(255, 255, 140);
    border-radius: 10px;
    box-shadow: 4px 4px 5px rgb(107, 107, 107);
}
#homepage-intro h2, #homepage-intro p {
    padding:0 20px;
}
#homepage-intro h2 {
    margin-top:20px;
    font-size:160%;
}
#homepage-intro p {
    font-size:120%;
}
#homepage-intro i {
    font-size:180%;
}
#homepage-intro p:last-child{
    margin-bottom:20px;
}
.homepage-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    width: 400px;
    height: 400px;
    color:black;
    border-radius: 10px;
    box-shadow: 4px 4px 5px rgb(107, 107, 107);
}
.banner-text-holder {
    display:inline-block;
    background-color: rgba(0,0,0,0.8);
    color: white;
    padding: 10px 30px;
    border-radius:60px;
}

.banner-text-holder:hover {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    border: 1px solid black;
}

#homepage-banner-one {
    background-image: url("../images/bingcheese.jpeg");
}
#homepage-banner-two {
    background-image: url("../images/bingbeer.jpeg");
}

/*RESULTS VIEW PAGE*/
#product-view {
    display:relative;
    margin:20px 50px 100px 50px;
    background-color: rgb(248, 248, 219);
}
#results-and-filter {
    display:flex;
    padding:10px 20px;
    justify-content:space-between;
    align-items:center;
    background-color:rgb(255, 255, 140);
    border: 1px dotted rgb(105, 105, 105);
}
#filter select{
    padding:5px;
    width:300px;
}
#product-listings {
    margin:0 10px 0 20px;
}
.product-section, .pairings-section {
    width:250px;
    display:inline-block;
    margin: 20px 10px;
    background-color:white;
    padding-top:20px;
    padding-bottom:10px;
    border-radius:4px;
}
.product-detail, .pairing-detail{
    display:flex;
    flex-flow:column;
    align-items:center;
    justify-content:center;
}
.product-name {
    display:flex;
    text-align:center;
    height:65px;
    align-items:center;
}
.product-info {
    width:100%;
    text-align:center;
    margin-bottom:5px;
}
.listing-price {
    margin-top:10px;
}
.listing-link:hover {
    color:rgb(0, 15, 0);
    text-decoration: underline;
}
.listing-name:hover {
    color: rgb(1, 70, 1);
    text-decoration: underline;
}
.detail-section {
    display:flex;
    flex-flow:row;
    align-items:center;
}
.product-image img{
    object-fit: cover;
    width: 200px;
    height:200px;
}
.view-action-buttons {
    display:flex;
    justify-content: space-between;
}

.action-section {
    text-align:center;
}

.action-button {
    display:inline-block;
    text-align:center;
    padding:3px;
    font-size:130%;
    margin:10px 0;
    border-radius: 6px;
}

.add-basket-list {
    width: 101px;
    margin-right:5px;
}
.add-basket {    
    background-color:rgb(139, 67, 0);
    border:1px solid rgb(139, 67, 0);
    color:white;
}
.add-basket:hover {
    background-color:rgb(245, 183, 126);
    color:rgb(0, 15, 0);
}

.buy-now-list {
    width: 95px;
    margin-left:5px;
}
.buy-now {    
    background-color:rgb(16, 95, 0);
    border:1px solid rgb(16, 95, 0);
    color:white;
}
.buy-now:hover {
    background-color:rgb(129, 153, 124);
    color:rgb(0, 15, 0);
}
.add-basket i, .buy-now i {
    margin:0;
    margin-right: 7px;
}


.buynow-alert {
    text-align:center;
    position:fixed;
    background-color: white;
    border:1px solid rgb(139, 67, 0);
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:300px;
    padding:20px;
}

.buynow-alert h4,.buynow-alert p {
    margin-bottom:10px;
}

.alert-buttons {
    display:inline-block;
    width:125px;
    padding:5px;
    border-radius:6px;
}

.alert-positive {
    background-color:rgb(16, 95, 0);
    color:white;
    
}

.alert-negative {
    background-color:rgb(139, 67, 0);
    color:white;
    width:125px;
}


.alert-cancel {
    margin-top:10px;
    background-color:red;
    color:white;
}




/* VIEW PRODUCT PAGE */
#product-page {
    margin:20px 50px 100px 50px;
}
.product-overview {
    display: flex;
    justify-content: space-around;
    margin-top:50px;
    margin-bottom:20px;
}
.detail-information {
    margin:0 20px;
    width:40%;
}
#product-matching {
    margin-top:20px;
}
.quantity-label {
    display:inline-block;
}
.quantity-box-product {
    display:flex;
    align-items:center;
    justify-content:center;
    margin:5px 0;
    padding:5px 0;
    border-top: 1px dotted rgb(172, 171, 171);
    border-bottom: 1px dotted rgb(172, 171, 171);
}
.quantity-box-product input {
    width:40px;
    text-align:center;
    padding:3px;
}
.quantity-box-product input:focus {
    border:2px rgb(87, 87, 87) solid;
    border-radius: 2px;
    outline:none;
}
#decrement-amount, #increment-amount {
    margin:0 5px;
    padding:4px 5px;
    background-color:rgb(201, 198, 198);
    border:1px solid rgb(128, 128, 128);
}
#decrement-amount:hover, #increment-amount:hover {
    background-color:rgb(128, 128, 128);
    border:1px solid rgb(87, 87, 87);
}

.product-action-buttons {
    text-align:center;
    
}
.product-action-button {
    display:inline-block;
    padding:3px;
    font-size:130%;
    margin:5px 0;
    border-radius: 6px;
}
.product-add-basket {
    width: 208px;
    background-color:rgb(139, 67, 0);
    color:white;
}
.product-buy-now {
    width: 200px;
    background-color:rgb(16, 95, 0);
    color:white;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

#product-matching {
    background-color: rgb(248, 248, 219);
}

/* CHECKOUT PAGE */
.checkout-page {
    margin:10px 150px 0 150px;
    display:flex;
    justify-content: space-between;
}

.address-form {
    margin:10px 0;
}
.guest-email-field {
    margin:10px 0;
}
.not-signedin {
    margin-top:10px;
}
.order-image img {
    width:100px;
    height:100px;
    margin: 0 5px;
    object-fit:cover;
}
.order-item-view {
    margin:10px 0;
    width: 400px;
    display:flex;
}
.main-section {
    width:60%;
}
.purchase-section {
    text-align:center;
    width:25%;
}
.ts-and-cs {
    margin-top:5px;
    font-size:80%;
}
.existing-address {
    width:90%;
    display:flex;
    justify-content:space-between;
}
.highlighted-address {
    background-color:rgb(226, 250, 200);
}
.address-bar {
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin:5px;
    padding:5px;
}

/*-----BASKET PAGE------*/
#basket-view {
    display: flex;
    justify-content: space-between;
}
.basket-item-view {
    width:100%;
    display:flex;
    margin:20px;
}
.basket-image img {
    width:150px;
    height:150px;
    object-fit:cover;
}
.checkout-section {
    margin:10px;
}
.action-buttons {
    display:inline-block;
    font-size:120%;
    border-radius: 6px;
    text-align:center;
    width:200px;
    padding:5px;
    margin-bottom:10px;
}
.checkout-button {
    border:rgb(255, 201, 51) solid 2px;
    background-color: rgb(47, 71, 0);    
    color: rgb(255, 201, 51);    
}
.basket-button {
    background-color:rgb(255, 201, 51);
    border: rgb(47, 71, 0) solid 2px;    
    color: rgb(47, 71, 0);
}
.basket-detail {
    display:flex;
    flex-flow:column;
    padding-bottom:5px;
    margin:0 10px;
    justify-content: space-between;
    width:90%;
}
.basket-info {
    display:flex;    
    justify-content: space-between;
}
.title-section {
    margin-top:30px;
}

/*------MANAGE ADDRESSES PAGE------*/
#address-listings {
    display:flex;
    flex-wrap: wrap;
}

.address-container {
    margin:0 30px;
    margin-bottom:20px;
}

.add-address-box i {
    font-size:200%;
}
.manage-address-box {
    display: flex;
    flex-flow:column;
    justify-content: space-between;
    border: 1px  rgb(173, 173, 173) solid;
    min-width: 250px;
    min-height: 200px;
}
.add-address-box {
    text-align:center;    
    border: 1px  rgb(173, 173, 173) dashed;
}
.main-section-address, .bottom-section-address, .top-section-address, .dummy-top, .dummy-bottom, .dummy-main {
    padding: 0 20px;
}
.top-section-address, .bottom-section-address, .dummy-top, .dummy-bottom { 
    height:25px;    
    padding-top:5px;
}

.bottom-section-address {
    border-top:1px rgb(173, 173, 173) dashed;
}

.top-section-address {
    border-bottom:1px rgb(173, 173, 173) dashed;
}
.layout-correction {
    padding-top:-100px;
}

/* VIEW ORDER ITEMS PAGE */
.order-view-image img {
    width:100px;
    height:100px;
    object-fit:cover;
}

/* BASKET MESSAGES */
#basket-message {
    position:fixed;
    display:flex;
    align-items:center;
    text-align:center;
    width: 325px;
    top:92px;
    right:20px;
    z-index: 5;
    border-width: 4px;
    border-style: solid;
    border-radius: 6px;    
    background-color: rgb(250, 246, 207);
}
#basket-message img {
    padding:10px;
    width: 50px;
    height: 50px;
    object-fit:cover;
}

#basket-message i {
    font-size:190%;
    margin:10px;
}


/*General Messages*/

#general-message {
    padding:10px;
    margin: 20px auto;
    background-color: rgb(247, 241, 213, 0.8);
    border-width: 4px;
    border-radius: 6px;
    border-style: solid;
    width: 85%;
    text-align:center;
    font-size: 120%;
}

.error-message {
    border-color: rgb(245, 26, 26)
}
.success-message {
    border-color: rgb(16, 95, 0)
}
.warning-message {
    border-color: rgb(245, 26, 26)
}

/* General Alerts */
.delete-alert {
    position:fixed;
    background-color: rgb(255, 255, 255);
    border:1px solid rgb(70, 70, 70);
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:300px;
}
.alert-header, .alert-content, .alert-footer {
    padding:10px;
}
.alert-header {
    display:flex;
    background-color: rgb(247, 241, 213);
    justify-content: space-between;
    align-items:center;    
    border-bottom:1px dashed rgb(160, 159, 159);
}
.alert-header .cancel-alert {
    background-color:rgb(201, 198, 198);
    border:1px solid rgb(128, 128, 128);
}
.alert-header .cancel-alert:hover {
    background-color:rgb(128, 128, 128);
    border:1px solid rgb(87, 87, 87);
}

.alert-footer {
    display:flex;
    justify-content: space-between;
    border-top:1px dashed rgb(160, 159, 159);
    background-color: rgb(247, 241, 213);
}
.fa-xmark {
    margin:0;
    padding:3px 5px;
}
.yes-button {
    width:125px;
    background-color: rgb(0, 32, 0);
    border:1px solid rgb(0, 32, 0);
    text-align:center;
    color:white;
}
.yes-button:hover {
    background-color: rgb(50, 90, 50);
}
.no-button {
    width:125px;
    background-color: rgb(49, 0, 0);
    border:1px solid rgb(49, 0, 0);
    text-align:center;
    color:white;
}
.no-button:hover {
    background-color: rgb(94, 42, 42);
}
.alert-main-title {
    margin-bottom:10px;
}

/* 404 page */

#not-found-content img {
    width:400px;
}

#not-found-page {
    display:flex;
    flex-flow:column;
    align-items:center;
    text-align:center;
}

.not-found-link {
    display:block;
    width:400px;
    padding: 10px;
    margin-bottom:20px;
    font-size: 130%;
    background-color: yellow;
    color: green;
    border:2px green solid;
    border-radius: 6px;
}
.not-found-link:hover {
    background-color: green;
    color: yellow;
    border:2px yellow solid;
}

/* General Forms (full-page) */
#background-container {
    display:flex;
    flex-flow:column;
    width:100dvw;
    background-image: url("../images/gabriella-clare-marino-BtalpxzIiFs-cropped2-dark.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    height:90dvh;
}
#form-large {
    margin:50px 300px;
    padding:30px 100px;
    background-color: rgb(247, 241, 213, .8);
    border-radius: 20px;
    border: 4px solid rgb(16, 95, 0);
    
}

#form-large h2, #form-large p {
    margin-bottom: 5px;
}
#form-large p {
    padding-bottom:5px;
    
    border-bottom: 1px dotted grey;
}
.general-form {
    border-spacing: 5px;
}
#form-large input {
    padding: 5px 10px;
    width:300px;
}
#form-large input:focus {
    border:2px solid rgb(16, 95, 0);
    outline: 1px solid rgb(0, 15, 0);
    border-radius: 1px;
}
#form-large label {
    margin-left: -5px;
    margin-right:5px;
}
#form-large button {
    font-family:main;
    margin:10px 0;
    padding:2px 7px;
    font-size: 120%;
    background-color:rgb(16, 95, 0);
    border:2px solid rgb(0, 15, 0);
    color:white;
    border-radius:4px;
    box-shadow: 4px 4px 5px rgb(107, 107, 107);
}
#form-large button:hover {
    background-color:rgb(129, 153, 124);
    color:rgb(0, 15, 0);
}
.form-large-button {
    margin-top:5px;
    border-top: 1px dotted grey;
    border-bottom: 1px dotted grey;
}
#sign-up-link {
   color:rgb(16, 95, 0);
}

#sign-up-link:hover {
    color:rgb(0, 15, 0);
    text-decoration: underline;    
 }
 .error-container {
    border-bottom: 1px dotted grey;
    padding-bottom: 5px;
    margin-bottom: 5px;
 }
.error-messages {
    margin-bottom:5px;
    display:flex;
    align-items:center;
}
.error-messages:last-child {
    margin-bottom:0;
}

.error-messages i {
    margin-right:10px;
}