{% extends "base.html" %}
{% load i18n %}
{% load allauth account %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}
<div id="background-container">
    {% if messages %}
    {% for message in messages %}
    {% with message.level as level %}
    {% if level == 40 %}
    <div id="general-message" class="error-message">
    {% elif level == 30 %}
    <div id="general-message" class="warning-message">
    {% elif level == 25 %}
    <div id="general-message" class="success-message">
    {% else %}
    <div id="general-message" class="warning-message">
    {% endif %}
    {% endwith %}    
        {{ message }}
    </div>      
    {% endfor %}    
    {% endif %}
    <div id="form-large">
        {% element h2 %}
            {% trans "Sign In" %}
        {% endelement %}
        <p>
            {% blocktrans %}If you have not created an account yet, then please
        <a id="sign-up-link" href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
        </p>
        {% url 'account_login' as login_url %}
        {% element form form=form method="post" action=login_url tags="entrance,login" %}
            {% slot body %}
            {% csrf_token %}
            {% if form.errors.items %}
            <div class="error-container">
                {% for key, value in form.errors.items %}
                <div class="error-messages red-text">
                    <i class="fa-solid fa-circle-exclamation"></i> {{ value }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <table class="general-form">
                <tr>
                    <td><label for="id_login">email Address: <span class="red-text">*</span> </label></td>
                    <td>{{ form.login }}</td>
                </tr>
                <tr>
                    <td><label for="id_address_line_one">Create Password:<span class="red-text">*</span> </label></td>
                    <td>{{ form.password }}</td>
                </tr>
            </table>
            {% endslot %}
            {% slot actions %}
            <div class="form-large-button">
                {% element button type="submit" tags="prominent,login" %}
                    {% trans "Sign In" %}
                {% endelement %}
            </div>
            {% endslot %}
            
        {% endelement %}
        {% if SOCIALACCOUNT_ENABLED %}
            {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
        {% endif %}
    </div>
</div>
{% endblock content %}
