{% extends "base.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
<div id="background-container">
    {% if messages %}
    {% for message in messages %}    
    <div id="general-message" class="warning-message">  
        {{ message }}
    </div>      
    {% endfor %}    
    {% endif %}
    <div id="form-large">
    {% element h2 %}
        {% trans "Password Changed" %}
    {% endelement %}
    <p>Your password has now been changed.<br>Why not celebrate and buy some <a id="sign-up-link" href="{% url 'view_results' %}?category=cheese">cheese</a> or <a id="sign-up-link" href="{% url 'view_results' %}?category=beer">beer?</a></p>
{% endblock content %}
