{% extends "base.html" %}
{% load i18n allauth account %}
{% block title %}
Cheese and Beer - Password Reset
{% endblock title %}
{% block content %}
<div id="background-container">
    {% if messages %}
    {% for message in messages %}
    {% with message.level as level %}
    {% if level == 40 %}
    <div id="general-message" class="error-message">
    {% elif level == 30 %}
    <div id="general-message" class="warning-message">
    {% elif level == 25 %}
    <div id="general-message" class="success-message">
    {% else %}
    <div id="general-message" class="warning-message">
    {% endif %}
    {% endwith %}    
        {{ message }}
    </div>      
    {% endfor %}    
    {% endif %}
    <div id="form-large">
    {% element h2 %}
        {% trans "Password Reset" %}
    {% endelement %}
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p>
        {% trans "Enter your email address below to receive a password reset e-mail." %}
    </p>
    {% url 'account_reset_password' as reset_url %}
    {% element form form=form method="post" action=reset_url %}
        {% slot body %}
            {% csrf_token %}
            {% if form.errors.items %}
            <div class="error-container">
                {% for key, value in form.errors.items %}
                <div class="error-messages red-text">
                    <i class="fa-solid fa-circle-exclamation"></i> {{ value }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <div class="general-form">
                <div class="form-field-container">
                    <div class="form-label-container"><label for="id_email">email: <span class="red-text">*</span></label></div>
                    <div>{{ form.email }}</div>
                </div>
            </div>
        {% endslot %}
        {% slot actions %}
            <div class="form-large-button">
            {% element button type="submit" %}
                {% trans 'Reset Password' %}
            {% endelement %}
            </div>
        {% endslot %}
        
    {% endelement %}
    </div>
</div>
{% endblock content %}
