{% extends "base.html" %}
{% load i18n %}
{% load allauth %}
{% block title %}
Cheese and Beer - Reset Password
{% endblock title %}
{% block content %}
<div id="background-container">
    {% if messages %}
    {% for message in messages %}
    
    <div id="general-message" class="warning-message">  
        {{ message }}
    </div>      
    {% endfor %}    
    {% endif %}
    <div id="form-large">
    {% element h2 %}
        {% if token_fail %}
            {% trans "Bad Token" %}
        {% else %}
            {% trans "Change Password" %}
        {% endif %}
    {% endelement %}
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>
            {% blocktrans %}This password reset link was invalid, has either expired or it has already been used.  Please request a new link <a href="{{ passwd_reset_url }}">here</a>.{% endblocktrans %}
        </p>
    {% else %}
        <p>
            {% blocktrans %}Please enter your new password.{% endblocktrans %}
        </p>
        {% element form method="post" action=action_url %}
            {% slot body %}
            {% csrf_token %}
            {% if form.errors.items %}
            <div class="error-container">
                {% for key, value in form.errors.items %}
                <div class="error-messages red-text">
                    <i class="fa-solid fa-circle-exclamation"></i> {{ value }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <table class="general-form">
                <tr>
                    <td><label for="id_address_line_one">Enter new password:<span class="red-text">*</span> </label></td>
                    <td>{{ form.password1 }}</td>
                </tr>
                <tr>
                    <td><label for="id_address_line_one">Confirm new password:<span class="red-text">*</span> </label></td>
                    <td>{{ form.password2 }}</td>
                </tr>
            </table>
            {% endslot %}
            {% slot actions %}
            <div class="form-large-button">
            {% element button type="submit" name="action" %}
                {% trans 'Change Password' %}
            {% endelement %}
            </div>
            {% endslot %}
        {% endelement %}
    {% endif %}
    </div>
</div>
{% endblock content %}
