{% extends "base.html" %}
{% load i18n %}
{% load allauth %}
{% block title %}
Cheese and Beer - Reset Password
{% endblock title %}
{% block content %}
<div id="background-container">
    {% if messages %}
    {% for message in messages %}
    
    <div id="general-message" class="warning-message">  
        {{ message }}
    </div>      
    {% endfor %}    
    {% endif %}
    <div id="form-large">
    {% element h2 %}
        {% if token_fail %}
            {% trans "Bad Token" %}
        {% else %}
            {% trans "Change Password" %}
        {% endif %}
    {% endelement %}
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>
            {% blocktrans %}This password reset link was invalid, has either expired or it has already been used.  Please request a new link <a class="signup-link" href="{{ passwd_reset_url }}">here</a>.{% endblocktrans %}
        </p>
    {% else %}
        <p>
            {% blocktrans %}Please enter your new password.{% endblocktrans %}
        </p>
        {% element form method="post" action=action_url %}
            {% slot body %}
            {% csrf_token %}
            {% if form.errors.items %}
            <div class="error-container">
                {% for key, value in form.errors.items %}
                <div class="error-messages red-text">
                    <i class="fa-solid fa-circle-exclamation"></i> {{ value }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <div class="general-form">
                <div class="form-field-container">
                    <div class="form-label-container"><label for="id_password1">New password:<span class="red-text">*</span></label></div>
                    <div>{{ form.password1 }}</div>
                </div>
                <div class="form-field-container">
                    <div class="form-label-container"><label for="id_password2">Confirm password:<span class="red-text">*</span></label></div>
                    <div>{{ form.password2 }}</div>
                </div>
            </div>
            {% endslot %}
            {% slot actions %}
            <div class="form-large-button">
                <button class="clickable-element" type="submit">Change Password</button>
            </div>
            {% endslot %}
        {% endelement %}
    {% endif %}
    </div>
</div>
{% endblock content %}
