{% extends "base.html" %}
{% load i18n %}
{% load allauth %}
{% load account %}
{% block title %}
Cheese and Beer - Password Reset
{% endblock title %}
{% block content %}
<div id="background-container">
    {% if messages %}
    {% for message in messages %}
    
    <div id="general-message" class="warning-message">  
        {{ message }}
    </div>      
    {% endfor %}    
    {% endif %}
    <div id="form-large">
    {% element h2 %}
        {% trans "Password Reset" %}
    {% endelement %}
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p>
        You have been sent an email with a link to reset your password. If you cannot find it, then be sure to check your spam folder.
    </p>
    <p>
        If you still cannot find it, then it is possible there was a typo in the e-mail you submitted. Click <a class="sign-up-link" href="{% url 'account_reset_password' %}">here</a> to try again. 
        If you STILL don't receive it, then it is possible you never had an account at all with the e-mail you are submitting.
    </p>
    <p id="no-border">
        Don't worry though! You can either <a class="sign-up-link" href="{% url 'view_results' %}?category=cheese">buy cheese</a> as a guest or click <a class="sign-up-link" href="{% url 'account_signup' %}">here</a> to sign up!
    </p>
{% endblock content %}
