{% extends "base.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}
{% block content %}
<div id="background-container">
    {% if messages %}
    {% for message in messages %}
    
    <div id="general-message" class="warning-message">  
        {{ message }}
    </div>      
    {% endfor %}    
    {% endif %}
    <div id="form-large">
    {% element h2 %}
        {% trans "Sign Up" %}
    {% endelement %}
    <p>
        {% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
    </p>
    {% url 'account_signup' as action_url %}
    {% element form form=form method="post" action=action_url tags="entrance,signup" %}
        {% slot body %}
            {% csrf_token %
            {% for key, value in form.errors.items %}
                {{ value }}
            {% endfor %}}
            <table class="general-form">
                <tr>
                    <td><label for="id_login">email address: <span class="red-text">*</span> </label></td>
                    <td>{{ form.email }}</td>
                </tr>
                <tr>
                    <td><label for="id_address_line_one">Password:<span class="red-text">*</span> </label></td>
                    <td>{{ form.password1 }}</td>
                </tr>
                <tr>
                    <td><label for="id_address_line_one">Password:<span class="red-text">*</span> </label></td>
                    <td>{{ form.password2 }}</td>
                </tr>
            </table>
            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
            {% endif %}
        {% endslot %}
        {% slot actions %}
            {% element button tags="prominent,signup" type="submit" %}
                {% trans "Sign Up" %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
    {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %}
    </div>
</div>
{% endblock content %}
