{% extends "base.html" %}

{% block title %}
Cheese and Beer
{% endblock %}

{% block content %}
<div id="background-container">
    <div id="form-large">
        <h2>Add an Address</h2>
        <p>Click <a class="sign-up-link" href="{% url 'manage_addresses' %}">here</a> to return to the manage addresses page.</p>
        <form action="{% url 'add_address' %}" method="POST" id="address-form">
            {% csrf_token %}
            <div class="new-address-main bottom-border-thin">
                <table class="general-form">
                    <input type="hidden" name="origin" id="origin" value="addresses">
                    <tr>
                        <td><label for="id_full_name">Full Name:<span class="red-text">*</span> </label></td>
                        <td>{{ address_form.full_name }}</td>
                    </tr>
                    <tr>
                        <td><label for="id_address_line_one">Address 1:<span class="red-text">*</span> </label></td>
                        <td>{{ address_form.address_line_one }}</td>
                    </tr>
                    <tr>
                        <td><label for="id_address_line_two">Address 2: </label></td>
                        <td>{{ address_form.address_line_two }}</td>
                    </tr>
                    <tr>
                        <td><label for="id_town_or_city">Town or City:<span class="red-text">*</span> </label></td>
                        <td>{{ address_form.town_or_city }}</td>
                    </tr>
                    <tr>
                        <td><label for="id_county">County:<span class="red-text">*</span> </label></td>
                        <td>{{ address_form.county }}</td>
                    </tr>
                    <tr>
                        <td><label for="id_postcode">Postcode:<span class="red-text">*</span> </label></td>
                        <td>{{ address_form.postcode }}</td>
                    </tr>
                </table>
            </div>
            <div class="new-address-lower bottom-border-thin">
                <table class="green-box">
                    <tr>
                        <td><label for="default">Set as default? </label></td>
                        <td><input type="checkbox" id="default" name="default"></td>
                    </tr>
                </table>                
            </div>
            <button type="submit" form="address-form" class="add-address-button">Add Address</button>
        </form>
    </div>
</div>
{% endblock %}