{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <script src="https://kit.fontawesome.com/8c1ab874f9.js" crossorigin="anonymous"></script>
    <title>
        {% block title %}
        {% endblock %}
    </title>    
</head>
<body>
    {% for message in messages %}
    <h3>{{ message }}</h3>
    {% endfor %}
    {% block content %}
    {% endblock %}
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>