{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

    <script type="text/javascript" src="https://kit.fontawesome.com/8c1ab874f9.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
    <nav class="alert-disable">
        <div id="main-navigation">
            <div id="logo" class="clickable-element">
                <a href="{% url 'home' %}"><span class="title-thing"><h1>Cheese&Beer</h1>.com</span></a>
            </div>
            <div class="search">
                <form method="GET" action="{% url 'view_results' %}">
                    <div class="search-input">
                        <input class="search-bar" type="text" name="query" placeholder="search for cheese or beer"><button class="search-bar-button clickable-element" type="submit">
                            <span>
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </span>
                        </button>
                        </span>
                    </div>
                </form>
            </div>
            <div class="product-menu">
                <div id="cheese-nav">
                    <a href="{% url 'view_results' %}?category=cheese"><div id="cheese-desktop-mouseout" class="menu-header"><i class="fa-solid fa-cheese"></i> Cheese <i class="fa-solid fa-caret-down"></i></div></a>
                    <div id="cheese-desktop-mouseover" class="not-displayed">
                        {% for category in cheese_categories %}
                        <a href="{% url 'view_results' %}?category=cheese,{{ category.id }}" class="nav-menu-link"><span>{{ category.name }}</span></a>
                        {% endfor %}
                    </div>
                </div>
                <div id="beer-nav">
                    <a href="{% url 'view_results' %}?category=beer"><div id="beer-desktop-mouseout" class="menu-header"><i class="fas fa-beer"></i> <span>Beer</span> <i class="fa-solid fa-caret-down"></i></div></a>
                    <div id="beer-desktop-mouseover" class="not-displayed">
                        {% for category in beer_categories %}
                        <a href="{% url 'view_results' %}?category=beer,{{ category.id }}" class="nav-menu-link"><span>{{ category.name }}</span></a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="account-menu">
                <div id="account-nav">
                    <div id="account-mouseout" class="menu-header">
                        {% if authenticated %}
                        <a href="{% url 'account_overview' %}"><i class="fa-solid fa-user"></i> <span>Account</span> <i class="fa-solid fa-caret-down"></i></a>
                        {% else %}
                        <span><i class="fa-solid fa-user"></i> <span>Account</span> <i class="fa-solid fa-caret-down"></i></span>
                        {% endif %}
                    </div>
                    <div id="account-mouseover" class="not-displayed">                       
                        {% if superuser %}
                        <a href="{% url 'admin_console' %}" class="nav-menu-link"><span>administration</span></a>
                        <a href="{% url 'admin:index' %}" class="nav-menu-link"><span>Django admin</span></a>
                        {% endif %}
                        {% if authenticated %}
                        <a href="{% url 'manage_addresses' %}" class="nav-menu-link"><span>addresses</span></a>
                        <a href="{% url 'view_orders' %}" class="nav-menu-link"><span>orders</span></a>
                        <a href="{% url 'wishlist' %}" class="nav-menu-link"><span>wishlist</span></a>
                        <a href="{% url 'account_logout' %}" class="nav-menu-link"><span>log out</span></a>
                        {% else %}
                        <a href="{% url 'find_order' %}" class="nav-menu-link"><span>find order</span></a>
                        <a href="{% url 'account_login' %}" class="nav-menu-link"><span>log in</span></a>
                        <a href="{% url 'account_signup' %}" class="nav-menu-link"><span>sign up</span></a>
                        {% endif %}                   
                    </div>
                </div>
            </div>
            {% if basket_total %}
            <div class="checkout">
                <a href="{% url 'view_basket' %}">
                    <div id="basket-total">
                        <i class="fas fa-shopping-basket"></i>                       
                        £{{ basket_total }}                    
                    </div>
                </a>
                <a href="{% url 'checkout' %}">
                    <div class="menu-checkout-button">
                        <span >Checkout</a></span>
                    </div>
                </a>
            </div>
            {% endif %}
        </div>
        <div class="product-menu-mobile not-displayed">
            <ul id="product-navigation">
                <li id="cheese-nav">
                    <span id="cheese-desktop">Cheese</span>
                </li>
                <li id="beer-nav">
                    <span id="beer-desktop">Beer</span>
                </li>
                <li id="product-filter">
                    <span id="filter-desktop">Filter</span>
                </li>
            </ul>
        </div>    
    </nav>
    {% block content %}
    {% endblock %}
    {% block postloadjs %}
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    {% endblock %}
</body>
</html>