{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <script src="https://kit.fontawesome.com/8c1ab874f9.js" crossorigin="anonymous"></script>
    <title>
        {% block title %}
        {% endblock %}
    </title>    
</head>
<body>
    <div id="main-navigation">
        <div id="logo" class="clickable-element">
            <a href="{% url 'home' %}"><img src="{% static 'images/holdinglogo.svg' %}"></a>
        </div>
        <div class="search">
            <h4>Find a product:</h4>
            <form method="GET" action="{% url 'view_results' %}">
                <div class="input-group w-100">
                <input type="text" name="query" placeholder="Search">
                <div>
                    <button type="submit">
                    <span>
                        <i>search</i>
                    </span>
                    </button>
                </div>
                </div>
            </form>

        </div>
        <div class="product-menu clickable-element">
            <div id="cheese-nav">
                <a href=""><div id="cheese-desktop-mouseout">Cheese</div></a>
                <div id="cheese-desktop-mouseover" class="not-displayed">
                    <a href="{% url 'view_results' %}?category=cheese" class="nav-menu-link"><span>Cheese</span></a>
                    {% for category in cheese_categories %}
                    <a href="{% url 'view_results' %}?category=cheese,{{ category.id }}" class="nav-menu-link"><span>{{ category.name }}</span></a>
                    {% endfor %}
                </div>
            </div>
            <div id="beer-nav">
                <div id="beer-desktop-mouseout">
                    <a href="" class="nav-menu-link"><span>Beer</span></a>
                </div>
                <div id="beer-desktop-mouseover" class="not-displayed">
                    <a href="{% url 'view_results' %}?category=beer" class="nav-menu-link"><span>Beer</span></a>
                    {% for category in beer_categories %}
                    <a href="{% url 'view_results' %}?category=beer,{{ category.id }}" class="nav-menu-link"><span>{{ category.name }}</span></a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="account clickable-element">
            <div id="account-nav">
                <div id="account-mouseout">
                    <a href="" class="nav-menu-link"><span>My Account</span></a>
                </div>
                <div id="account-mouseover" class="not-displayed">
                    <a href="" class="nav-menu-link"><span>My Account</span></a>
                    {% if superuser %}
                    <a href="{% url 'admin_console' %}" class="nav-menu-link"><span>Admin Console</span></a>
                    <a href="{% url 'admin:index' %}" class="nav-menu-link"><span>Django Admin</span></a>
                    {% endif %}
                    {% if authenticated %}
                    <a href="{% url 'account_logout' %}" class="nav-menu-link"><span>Log out</span></a>
                    {% else %}
                    <a href="{% url 'account_login' %}" class="nav-menu-link"><span>Log in</span></a>
                    <a href="{% url 'account_signup' %}" class="nav-menu-link"><span>Sign Up</span></a>
                    {% endif %}                   
                </div>
            </div>
        </div>
        <div class="checkout clickable-element">
            <span id="trolley">Trolley</span>
        </div>
    </div>
    <div class="product-menu-mobile not-displayed">
        <ul id="product-navigation">
            <li id="cheese-nav">
                <span id="cheese-desktop">Cheese</span>
            </li>
            <li id="beer-nav">
                <span id="beer-desktop">Beer</span>
            </li>
            <li id="product-filter">
                <span id="filter-desktop">Filter</span>
            </li>
        </ul>
    </div>

    </nav>
    {% for message in messages %}
    <h3>{{ message }}</h3>
    {% endfor %}
    {% block content %}
    {% endblock %}
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>