{% extends "base.html" %}

{% block title %}
Cheese and Beer - Add Cheese
{% endblock %}

{% block content %}

<div id="background-container">
    <div id="form-large">
        <h2>Add Cheese</h2>
        <p>Click <a class="sign-up-link" href="{% url 'admin_console' %}">here</a> to return to product administration.</p>
        <form method="POST" action="{% url 'add_product' %}" enctype="multipart/form-data">            
            {% csrf_token %}
            <input type="hidden" name="product_type" id="id_product_type" value="cheese">
            <div>
                <table class="general-form">
                    <tr>
                        <td><label for="id_login">Name: <span class="red-text">*</span> </label></td>
                        <td>{{ form.name }}</td>
                    </tr>
                    <tr>
                        <td class="form-large-textarea"><label for="id_address_line_one">Beer Category:<span class="red-text">*</span> </label></td>
                        <td>{{ form.cheese_category }}</td>
                    </tr>
                    <tr>
                        <td class="form-large-textarea"><label for="id_address_line_one">Description: </label></td>
                        <td>
                            {{ form.description }}                            
                        </td>
                    </tr>
                    <tr>
                        <td><label for="id_address_line_one">Variety:<span class="red-text">*</span> </label></td>
                        <td>
                            {{ form.variety }}                            
                        </td>
                    </tr>
                    <tr>
                        <td><label for="id_address_line_one">Texture:<span class="red-text">*</span> </label></td>
                        <td>
                            {{ form.texture }}                            
                        </td>
                    </tr>
                    <tr>
                        <td><label for="id_address_line_one">Amount (g):<span class="red-text">*</span> </label></td>
                        <td>
                            {{ form.amount}}                            
                        </td>
                    </tr>
                    <tr>
                        <td><label for="id_address_line_one">Price (£):<span class="red-text">*</span> </label></td>
                        <td>
                            {{ form.price }}                            
                        </td>
                    </tr>
                    <tr>
                        <td><label for="id_address_line_one">Country of Origin:<span class="red-text">*</span> </label></td>
                        <td>
                            {{ form.country_origin }}                            
                        </td>
                    </tr>
                    <tr>
                        <td><label for="id_address_line_one">Image:<span class="red-text">*</span> </label></td>
                        <td>
                            {{ form.image }}                            
                        </td>
                    </tr>
                </table>
                <span id="profile-pic-cancel" class="not-displayed clickable-element">Cancel Upload</span>
                
                <div>
                    <img id="image-preview" class="not-displayed" src=" " alt="This is a preview of the uploaded image">
                </div>
            </div>
            <div class="form-large-button">
                <button type="submit">Add Cheese</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}