{% extends "base.html" %}

{% block title %}
Cheese and Beer - Add Cheese Category
{% endblock %}

{% block content %}
<div id="background-container">
    {% if messages %}
    {% for message in messages %}
    {% with message.level as level %}
    {% if level == 40 %}
    <div id="general-message" class="error-message">
    {% elif level == 30 %}
    <div id="general-message" class="warning-message">
    {% elif level == 25 %}
    <div id="general-message" class="success-message">
    {% else %}
    <div id="general-message" class="warning-message">
    {% endif %}
    {% endwith %}    
        {{ message }}
    </div>      
    {% endfor %}    
    {% endif %}
    <div id="form-large">
        <h2>Add Cheese Category</h2>
        <p>Click <a class="sign-up-link" href="{% url 'admin_console' %}">here</a> to return to product administration.</p>
        <form method="POST" action="{% url 'add_cheese_category' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <table class="general-form">
                    <tr>
                        <td><label for="id_login">Name: <span class="red-text">*</span> </label></td>
                        <td>{{ form.name }}</td>
                    </tr>
                    <tr>
                        <td class="form-large-textarea"><label for="id_address_line_one">Description:<span class="red-text">*</span> </label></td>
                        <td>{{ form.description }}</td>
                    </tr>
                    <tr>
                        <td><label for="id_address_line_one">Image:<span class="red-text">*</span> </label></td>
                        <td>
                            {{ form.image }}                            
                        </td>
                    </tr>
                </table>
                <span id="profile-pic-cancel" class="not-displayed clickable-element">Cancel Upload</span>
                
                <div>
                    <img id="image-preview" class="not-displayed" src=" " alt="This is a preview of the uploaded image">
                </div>
            </div>
            <div class="form-large-button">
                <button class="btn btn-black rounded-0" type="submit">Add Category</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}