{% extends "base.html" %}

{% block title %}
Cheese and Beer - Admin Console
{% endblock %}

{% block content %}
<h1>Update or Remove Products</h1>
<h2>Search here to filter by Product ID or name:</h2>
<form method="GET" action="{% url 'edit_product' %}">
    <div class="input-group w-100">
      <input type="text" name="q" placeholder="Search">
      <div>
        <button type="submit">
          <span>
            <i>search</i>
          </span>
        </button>
      </div>
    </div>
</form>
{% if products %}
{% if search_term %}
<h3>Search results for "{{ search_term }}"</h3>
{% endif %}
{% for product in products %}
<h3>
  {{ product.name }}
  <a href = "{% url 'product_edit' product.id %}"> Edit</a>
  <a href = "{% url 'delete_product' product.id %}"> Delete</a>
</h3>
{% endfor %}
{% else %}
<h3>No Products Found, please check your search term and try again!</h3>
{% endif %}
<h2>
  <a href="{% url 'admin_console' %}">Back to Admin Console</a>
  <br>
  <a href="{% url 'home' %}">Back to Homepage</a>
</h2>

{% endblock %}