{% extends "base.html" %}

{% block title %}
Cheese and Beer - Admin Console
{% endblock %}

{% block content %}
<h1>Do Stuff Now</h1>
<form method="POST" action="{% url 'edit_beer_category' category.id %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <input type="hidden" name="initial_pairings" id="id_initial_pairings" value="{{ initial_pairings }}">
    <input type="hidden" name="pairings" id="id_pairings">
    <div>
        <img src="{{ base_url }}beer-categories/{{ category.image_url }}">
    </div>
    <div class="categories">
        <h2>Select Cheese Pairings</h2>
        {% for category in cheese_categories %}
        <div class="category-selector" id = "{{ category.id }}">{{ category.name}}</div>
        {% endfor %}
    <div>
    <div>
        <a href="">Cancel</a>
        <button type="submit">Add Product</button>
    </div>
</form>

<h2>
    <a href="{% url 'admin_console' %}">Back to Admin Console</a>
    <br>
    <a href="{% url 'home' %}">Back to Homepage</a>
</h2>
{% endblock %}