{% extends "base.html" %}

{% block title %}
Cheese and Beer - Admin Console
{% endblock %}

{% block content %}

{% if messages %}
{% for message in messages %}
{% with message.level as level %}
{% if level == 40 %}
<div id="general-message" class="error-message alert-disable">
{% elif level == 30 %}
<div id="general-message" class="warning-message alert-disable">
{% elif level == 25 %}
<div id="general-message" class="success-message alert-disable">
{% else %}
<div id="general-message" class="warning-message alert-disable">
{% endif %}
{% endwith %}    
    {{ message }}
</div>      
{% endfor %}    
{% endif %}

<h1>Do Stuff Now</h1>
<form method="POST" action="{% url 'product_edit' product.id %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="publish-toggle">Availability
    {% if product.displayed %}
    <a class="fa fa-toggle-on btn basic button-on" href="{% url 'product_unpublish' product.id %}"></a>
    {% else %}
    <a class="fa fa-toggle-off btn basic button-off" href="{% url 'product_publish' product.id %}"></a>
    {% endif %}
    </div>
    {{ form }}
    <div>
        <img src="{{ MEDIA_URL }}products/{{ product.image_url }}">
    </div>
    <div class="text-right">
        <a class="btn btn-outline-black rounded-0" href="">Cancel</a>
        <button class="btn btn-black rounded-0" type="submit">Add Product</button>
    </div>
</form>

<h2>
    <a href="{% url 'admin_console' %}">Back to Admin Console</a>
    <br>
    <a href="{% url 'home' %}">Back to Homepage</a>
</h2>
{% endblock %}