{% extends "base.html" %}

{% block title %}
Cheese and Beer - Edit {{ product.name }}
{% endblock %}

{% block content %}
<div id="background-container">
    {% if messages %}
    {% for message in messages %}
    {% with message.level as level %}
    {% if level == 40 %}
    <div id="general-message" class="error-message alert-disable">
    {% elif level == 30 %}
    <div id="general-message" class="warning-message alert-disable">
    {% elif level == 25 %}
    <div id="general-message" class="success-message alert-disable">
    {% else %}
    <div id="general-message" class="warning-message alert-disable">
    {% endif %}
    {% endwith %}    
        {{ message }}
    </div>      
    {% endfor %}    
    {% endif %}
    <div id="form-large">
        <h2>Edit {{ product.name }}</h2>
        <p>Click <a class="sign-up-link" href="{% url 'admin_console' %}">here</a> to return to product administration.
        <br>Or click <a class="sign-up-link" href="{% url 'edit_product' %}">here</a> to find a different product to edit.</p>
        <form method="POST" action="{% url 'product_edit' product.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            {% if product.beer_category %}
            <input type="hidden" name="container-selected" id="container-selected" value="{{ product.container }}">
            {% endif %}
            <div class="general-form">
                <div id="toggle-button-container" class="form-field-container">
                    <div class="form-label-container"><span>Availability:</span></div>
                    <div>
                        {% if product.displayed %}
                        <a class="availability-link" href="{% url 'product_unpublish' product.id %}"><i class="fa fa-toggle-on btn basic button-on green-text"></i></a>
                        {% else %}
                        <a href="{% url 'product_publish' product.id %}"><i class="fa fa-toggle-off btn basic button-off red-text"></i></a>
                        {% endif %}
                    </div>
                </div>
                <div class="form-field-container">
                    <div class="form-label-container"><label for="id_name">Name: <span class="red-text">*</span></label></div>
                    <div>{{ form.name }}</div>
                </div>
                {% if form.beer_category %}
                <div class="form-field-container">
                    <div class="form-label-container"><label for="id_beer_category">Beer Category:<span class="red-text">*</span></label></div>
                    <div>{{ form.beer_category }}</div>
                </div>
                {% else %}
                <div class="form-field-container">
                    <div class="form-label-container"><label for="id_cheese_category">Cheese Category:<span class="red-text">*</span></label></div>
                    <div>{{ form.cheese_category }}</div>
                </div>
                {% endif %}
                <div class="form-field-container">
                    <div class="form-label-container"><label for="id_description">Description:</label></div>
                    <div>
                        {{ form.description }}                            
                    </div>
                </div>
                <div class="form-field-container">
                    <div class="form-label-container"><label for="id_variety">Variety:<span class="red-text">*</span></label></div>
                    <div>
                        {{ form.variety }}                            
                    </div>
                </div>
                {% if form.texture %}
                <div class="form-field-container">
                    <div class="form-label-container"><label for="id_texture">Texture:<span class="red-text">*</span></label></div>
                    <div>
                        {{ form.texture }}                            
                    </div>
                </div>
                {% else %}
                <div class="form-field-container">
                    <div class="form-label-container"><label for="id_alcohol_content">Alcohol Content:<span class="red-text">*</span></label></div>
                    <div>
                        {{ form.alcohol_content }}                            
                    </div>
                </div>
                <div class="form-field-container">
                    <div class="form-label-container"><label for="id_container">Type of Container:<span class="red-text">*</span></label></div>
                    <div>
                        {{ form.container }}                            
                    </div>
                </div>
                {% endif %}
                <div class="form-field-container">
                    <div class="form-label-container"><label for="id_amount">Amount {% if product.cheese_category %}(g){% else %}(ml){% endif %}:<span class="red-text">*</span></label></div>
                    <div>
                        {{ form.amount }}                            
                    </div>
                </div>
                <div class="form-field-container">
                    <div class="form-label-container"><label for="id_price">Price (£):<span class="red-text">*</span></label></div>
                    <div>
                        {{ form.price }}                            
                    </div>
                </div>
                <div class="form-field-container">
                    <div class="form-label-container"><label for="id_country_origin">Country of Origin:<span class="red-text">*</span></label></div>
                    <div>
                        {{ form.country_origin }}                            
                    </div>
                </div>
                <div class="form-field-container">
                    <div class="form-label-container"><label for="id_image">Image:<span class="red-text">*</span></label></div>
                    <div>
                        {{ form.image }}                            
                    </div>
                </div>
            </div>
            <span id="profile-pic-cancel" class="not-displayed clickable-element">Cancel Upload</span>
            <div>
                {% if product.image_url %}
                <img id="current-edit-image" src="{{ MEDIA_URL }}products/{{ product.image_url }}" alt = "{{ product.image_alt }}">
                {% endif %}
                <img id="image-preview" class="not-displayed" src="{{ MEDIA_URL }}products/{{ product.image_url }}" alt="This is a preview of the uploaded image">
            </div>
            {% if product.beer_category %}
            <div class="form-large-button">
                <button type="submit">Update Beer</button>
            </div>
            {% else %}
            <div class="form-large-button">
                <button type="submit">Update Cheese</button>
            </div>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}